/*
 Theme Name:   Basel Child
 Description:  Basel Child Theme
 Author:       XTemos
 Author URI:   http://xtemos.com
 Template:     basel
 Version:      1.0.0
 Text Domain:  basel-child
*/


/* Your customizations starts here */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,800,900');

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #838383;
}

h1 {
  font-size:48px;
  font-weight: 300;
  color: #0c0c0c;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: #20232f;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 14px;
  font-weight: 800;
  color: #20232f;
  text-transform: uppercase;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 18pt;
}

h6 {
  font-size: 16pt;
}

p {
  font-size: 16px;
  color: #838383;
  font-weight: 500;
  line-height: 25px;
}
.container .row {
    display: inherit !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}


.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    -ms-flex: 100%;
    flex: inherit !important;
    max-width: inherit !important;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: inherit !important;
    max-width: inherit !important;
}




.button, button, input[type=submit], .yith-woocompare-widget a.button.compare, .basel-dark .basel-registration-page .basel-switch-to-register, .basel-dark .login .button, .basel-dark .register .button, .basel-dark .widget_shopping_cart .buttons a, .basel-dark .yith-woocompare-widget a.button.compare, .basel-dark .widget_price_filter .price_slider_amount .button, .basel-dark .woocommerce .cart-actions input[name="update_cart"] {
  background-color: #7da7b4 !important;
  border-radius: 50px;
  min-width: 175px;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #7da7b4 !important;
  color: #fff;
}

.button:hover, .button:focus, button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus, .yith-woocompare-widget a.button.compare:hover, .yith-woocompare-widget a.button.compare:focus, .basel-dark .basel-registration-page .basel-switch-to-register:hover, .basel-dark .basel-registration-page .basel-switch-to-register:focus, .basel-dark .login .button:hover, .basel-dark .login .button:focus, .basel-dark .register .button:hover, .basel-dark .register .button:focus, .basel-dark .widget_shopping_cart .buttons a:hover, .basel-dark .widget_shopping_cart .buttons a:focus, .basel-dark .yith-woocompare-widget a.button.compare:hover, .basel-dark .yith-woocompare-widget a.button.compare:focus, .basel-dark .widget_price_filter .price_slider_amount .button:hover, .basel-dark .widget_price_filter .price_slider_amount .button:focus, .basel-dark .woocommerce .cart-actions input[name="update_cart"]:hover, .basel-dark .woocommerce .cart-actions input[name="update_cart"]:focus {
  background-color: #447381 !important;
}

.font-family {
  font-family: 'Raleway', sans-serif;
}

.topbar-wrapp.color-scheme-light .top-bar-left {
  color: #fff;
}

.top-bar-left i {
  font-size: 20px;
  margin-right: 14px;
}

.top-bar-left {
  font-size: 14px;
}

.top-bar-right {
  text-align: right;
  line-height: 44px;
}

.right-column {
  width: 45px;
}

.top-bar-right .login-link {
  display: inline-block;
  padding-right: 15px;
}

.top-bar-right .login-link a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.top-bar-right .login-link.dashboard-link-mobile{display: none;}
.top-bar-right .login-link a:hover {
  text-decoration: none;
}

.top-bar-right .top-cart {
  display: inline-block;
  margin-right:20px;
  position:relative;
}

.top-cart a > span {
    padding: 2px;
    width: 16px;
    height: 16px;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    color: #000;
    top: 5px;
    left: 15px;
    font-weight: 600;
}

.top-bar-right .top-cart i {
    font-size: 18px;
    position: relative;
    top: 2px;
}
.main-nav .menu>li>a {
  font-size: 13px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}

.right-column .search-button a i:before {
  font-weight: bold;
}

.sticky-header .main-nav {
  text-align: right;
}

.main-header {
  margin-bottom: 0px;
}

.basel-navigation .menu > li.menu-item-design-default ul li.item-event-hover:hover {
    border-left: #7da7b4 7px solid;
}
.basel-navigation .menu > li.menu-item-design-default ul li.current-menu-item {
    border-left: #7da7b4 7px solid;
}
.basel-navigation .menu > li.menu-item-design-default ul li a {
	font-family: 'Raleway', sans-serif;
    letter-spacing:.5px;
	font-weight:800;
}


.separate-middle {
  width: 150px;
  margin: auto;
  background: #363636;
  height: 2px;
}
#how-it-works-col.vc_row[data-vc-full-width] {
     overflow: inherit !important;
}
.how-it-works {
  padding-top:65px;
  padding-bottom:50px;
  position:relative;
}
.how-it-works:before {
    content: "\f0d8";
    position: absolute;
    top: -4px;
    line-height: 0;
    left: 0;
    color: #fff;
    font-size: 24px;
    font-family: FontAwesome;
    right: 0;
    width: 10px;
    margin: auto;
}
.how-it-works p {
  line-height: 25px;
  padding-top: 25px;
  width: 60%;
  margin: auto;
}

.home-middle-content {
  position: relative;
  padding-bottom: 50px;
}

.home-middle-content:before {
  width: 112%;
  height: 391px;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  background: url(images/pick-plan-top-corve.png) no-repeat center top;
  background-size: 100% 60%;
}

.home-middle-content:after {
  width: 112%;
  height: 287px;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -1px;
  background: url(images/pick-plan-bottom-corve.png) no-repeat center bottom;
  background-size: 100% auto;
}
#rev_slider_39_1 .uranus.tparrows:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#rev_slider_39_1 .uranus.tparrows {
    width: 30px;
    height: 30px;
	background: rgba(255, 255, 255, 0.18);
 
}
#rev_slider_39_1 .uranus.tparrows:hover {
    background: rgba(0, 0, 0, 0.50);
}
#rev_slider_39_1 .uranus.tparrows:hover:before {
    opacity: 1;
}



.plan-box {
  background:rgba(255, 255, 255, 0.6);
  padding: 20px 30px 20px 20px;
  width: 50%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin-bottom:80px;
  -webkit-box-shadow: 0px 0px 16px 7px rgba(125,167,180,0.24);
  -moz-box-shadow: 0px 0px 16px 7px rgba(125,167,180,0.24);
  box-shadow: 0px 0px 16px 7px rgba(125,167,180,0.24);
}

.plan-box h2 {
  color: #838383;
  margin-bottom: 0px;
}

.plan-box-two {
  text-align: right;
}

.plan-button .vc_btn3.vc_btn3-shape-rounded {
  border-radius: 50px;
  min-width: 200px;
  background-color: #7da7b4;
  color: #fff;
}

.plan-button .vc_btn3.vc_btn3-shape-rounded:hover {
  background-color: #447381;
  color: #fff;
}

.plan-box-one p, .plan-box-three p {
    padding-left: 30px;
}
.plan-box-two p {
    padding-right: 30px;
}

.testimonial-section{
	padding:40px 0px 80px 0px;
}

.testimonial-des {
  width: 65%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

.testimonials_slider {
  margin-top: 50px;
}

.quote-img {
  width: 90px;
  height: 100px;
}

.quote-img img {
  max-width: 100%;
  border-radius: 50%;
}

.quote-content span.name-title {
  font-size: 18px;
  font-weight: 600;
  color: #363636;
  font-family: 'Raleway', sans-serif;
}

.quote-content a.link-text {
  font-size: 14px;
  font-weight: 300;
  color: #9c9c9c;
  float: right;
}

.quote-content p {
  font-size: 14px;
  color: #959595;
  line-height: 20px;
  margin-bottom: 0px;
}
#looking-section.vc_custom_1552566798137 { background-size: 100% 100% !important; }

.looking-for-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.looking-for-content h2, .testimonial-section h2 {
  font-family: 'Raleway', sans-serif;
}

.vc_btn3.vc_btn3-shape-rounded {
  border-radius: 50px;
  min-width: 175px;
  background-color: #7da7b4;
  color: #fff;
}

.vc_btn3.vc_btn3-shape-rounded:hover {
  background-color: #447381;
  color: #fff;
}

.basel-prefooter {
  background: #3f4b53;
  padding-top: 50px;
  padding-bottom: 0px;
  position: relative;
}

.basel-prefooter:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height:90px;
  top: -35px;
  left: 0;
  z-index: 1;
  background: #3f4b53;
  transform-origin: left top;
  -ms-transform: skew(0deg, -2.3deg);
  -webkit-transform: skew(0deg, -2.3deg);
  transform: skew(0deg, -2.3deg);
}

.ft-top-text p {
  color: #fff;
  padding-right: 50px;
  margin-bottom: 0;
}

.email-bdr-left {
  border: 1.5px solid;
  border-top: 0;
  border-bottom: 0px;
  border-right: 0px;
  border-image: linear-gradient(to bottom, #44535b 0%, #627f89 48%, #6a8d99 100%);
  border-image-slice: 1;
  min-height: 200px;
  padding-left: 50px;
}

ul.email-content {
  color: #fff;
  display: block;
}

ul.email-content li {
  clear: left;
  margin-bottom: 35px;
}

.icon-circle {
  width: 50px;
  height: 50px;
  float: left;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 53px;
  margin-right: 20px;
}

.icon-circle i {
  font-size: 18px;
  color: #000;
}

ul.email-content  strong {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

ul.email-content  p {
  color: #fff;
  margin-bottom: 0px;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
}

ul.email-content  a {
  color: #fff;
  margin-bottom: 0px;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
}
ul.email-content a:hover{ color: #fff;}
.footer-bottom {
  padding-top: 60px;
  padding-bottom: 10px;
  position: relative;
}

.footer-bottom:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background: #333d44;
  transform-origin: right top;
  -ms-transform: skew(0deg, 1.8deg);
  -webkit-transform: skew(0deg, 1.8deg);
  transform: skew(0deg, 1.8deg);
}

.footer-container ul li {
  margin-bottom: 15px;
  width: 33%;
  float: left;
}

.footer-parent-item > a, .footer-address h3 {
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
  font-weight: 800;
  text-decoration: none;
  color: #7da7b4 !important;
  font-size: 16px;
  cursor: pointer;
}

.footer-container ul li ul.sub-menu li {
  width: 100% !important;
  margin-bottom: 0px;
}

.footer-container ul li ul.sub-menu li a {
  color: #fff;
  line-height: 30px;
}

.textwidget p {
  color: #fff !important;
}

.textwidget {
  display: inline-table;
  width: 100%;
}

.city-icon {
  width: 50px;
  float: left;
  padding-right: 10px;
}

.city-icon img {
  max-width: 100%;
}

.city-address {
  width: 80%;
  vertical-align: middle;
  display: table-cell;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 25px;
}

.copyrights-wrapper p {
  font-size: 10px;
  color: #fff !important;
}

.copyrights-wrapper a {
  font-size: 10px;
  color: #7da7b4 !important;
}

#testimonials_slider .owl-item li.owl-li {
  background: #f2f2f2;
  padding: 20px;
  margin-bottom: 30px !important;
  border-radius: 4px;
  position: relative;
  margin: 0 15px;
}

#testimonials_slider .owl-item li.owl-li:after {
  width: 30px;
  height: 19px;
  position: absolute;
  content: "";
  right: 40px;
  bottom: -18px;
  background: url(images/quote-arrow.png) no-repeat center bottom;
}

.write-for-us-form label {
  text-align: left;
  font-weight:800;
}

.write-for-us-form .wpcf7-form-control {
  margin-bottom: 15px !important;
}

.write-for-us-form span.wpcf7-not-valid-tip {
  text-align: left;
  margin-bottom: 5px !important;
}

.home .site-content {
    margin-bottom: 20px;
}
.site-content .vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner {
    padding-top: 60px;
}

.customer-login-form { padding-bottom:100px; }
.customer-login-form .u-column1 {
    width: 45%;
    max-width: 45%;
    margin-right: 5%;
}
.customer-login-form .u-column2 {
    width: 45%;
    max-width: 45%;
    margin-left: 5%;
}

.customer-login-form h2 {
    font-size: 24px;
    font-weight: 800;
	border-bottom: #dadada 1px solid;
    padding-bottom: 15px;
}

.customer-login-form label {
    display: inline-block;
    font-weight: 800;
}

.customer-login-form .lost_password {
    position: absolute;
    right:10px;
}

.customer-login-form .lost_password a { 
	color:#e26353;
	font-style: italic;
    font-size: 14px;
    font-weight: 600;
	}
	
.customer-login-form  .login>:last-child, .lost_reset_password>:last-child, .register>:last-child {
    margin-bottom: 0;
    text-align: center;
}

.customer-login-form .login .button, .lost_reset_password .button, .register .button {
    width: 100px;
    margin:30px auto;
    border: 0px solid #000;
    background-color: transparent;
    color: #fff;
	font-family: 'Lato', sans-serif;
	font-size:14px;
}
.vc_row.wpb_row.vc_row-fluid.single-banner.vc_row-has-fill {
    height: 42vh;
}

.inner-banner {
    background:rgba(44, 46, 48, 0.8);
    color: #fff;
    width: 90%;
    margin: 0 auto 35px;
	padding:40px 0px;
	text-align:center;
}
.inner-banner  h1 {
  font-size:calc(1.5vw + 1.5vh);
  font-weight:800;
  color: #fff;
  text-transform:uppercase;
}
.inner-banner  p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom:20px;
}
.page-title {
    margin-top: 0px;
 }
.title-size-small {
    padding: 35px 0;
}

.product_single_image {
    height:42vh;
    position: relative;
    overflow: hidden;
    width: 100vw;
}
.product_single_image img{background-size: cover; width:100%;}

.static-inner-title {
    background:rgba(44, 46, 48, 0.8);
    color: #fff;
    width:76%;
    margin: 0 auto;
    padding:40px 0px;
    text-align: center;
    position: absolute;
    left:12%;
    top:24%;
}
.static-inner-title h1 {
    font-size:calc(1.8vw + 1.8vh);
    font-weight: 800;
    color: #fff;
    margin-bottom: 0px;
	text-transform:uppercase;
}
.static-inner-title  p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom:20px;
}
.single-banner .vc_column_container>.vc_column-inner {
    padding-top: 60px; padding-bottom:25px;
}

.single-breadcrumbs-wrapper {
    margin-top: 0px;
}

#gray-bottom-corve {
    position: relative;
    padding-bottom: 100px;
}
#gray-bottom-corve { position:relative; }


#gray-bottom-corve:after {
    content: "";
    position: absolute;
    display: block;
    width: 45%;
    height: 108px;
    bottom: -107px;
    left: 0;
    z-index: 1;
    background: #fafafa;
    transform-origin: left top;
    -ms-transform: skew(-85deg, 0deg);
    -webkit-transform: skew(-85deg, 0deg);
    transform: skew(-85deg, 0deg);
    visibility: inherit;
}

#gray-bottom-corve:before {
	    content: "";
    position: absolute;
    display: block;
    width: 55%;
    height: 100px;
    bottom: -100px;
    right: 0;
    z-index: 1;
    background: #7da7b4;
    transform-origin: left top;
    -ms-transform: skew(85deg, -10deg);
    -webkit-transform: skew(85deg, -10deg);
    transform: skew(85deg, -10deg);
    visibility: inherit;
}


#gray-bottom-corve.vc_row[data-vc-full-width] {
    overflow: inherit !important;
}


.about-middle-section { padding-top:100px; padding-bottom:50px; }

.about-middle-section p { 
	width:90%; margin:auto; font-size: 16px;
    color: #838383;
    font-weight: 500;
    line-height: 25px; text-align:center;
	}
.middle-text { 
	width:90%; margin:auto; font-size: 16px;
    color: #838383;
    font-weight: 500;
    line-height: 25px; text-align:center;
	}
.our-clients h3 { text-align:center; margin-bottom:10px; font-size:18px; }

.our-clients .owl-dots {
     margin-top: 25px;
}

.pad-top-25 { padding-top:25px; }

.agencies-form-col{ padding:80px 0px 50px; }

.agencies-form-col label {
    display: inline-block;
    font-weight: 800;
}
.agencies-form-col .wpcf7-form-control {
    margin-bottom: 20px;
}
.agencies-form-col span.wpcf7-not-valid-tip {
    position: relative;
    top: -10px;
}

div.wpcf7-validation-errors {
     display: none !important;
}
.contact-form {
    padding:0px 0px 40px; 
}
.contact-form h3, .contact-form-details h3 {
    font-size: 20px;
    font-weight: 800;
    text-transform: inherit;
	font-family: 'Lato', sans-serif;
}

.contact-separate { height:16px; background: url(images/contact-arrow.png) no-repeat center top;  }
   
.contact-address .vc_icon_element-icon {
    font-size: 3.15em!important;
}


.contact-address p { font-weight:600; color:#131d2a; }
.contact-address strong { font-weight: 700; color: #232c39;  }

.contact-form-details {padding:0px 0px 100px;}
.privacy-policy-page {padding: 0px 0px 100px;}


.contact-form-details .form-inner-col input  {
    border: 0px solid rgba(129,129,129,.25);
    font-size: 16px;
    border-bottom: #757474 2px solid;
    background: transparent;
	margin-bottom:30px;
	color:#a7b0b8;
	font-weight:600;
}
.contact-form-details .form-inner-col textarea {
      border:2px solid #757474;
    font-size: 16px;
     padding:10px;
	resize: none;
	margin-bottom:30px;
	color:#a7b0b8;
	font-weight:600;
	background: transparent;
}

.contact-form-details .form-inner-col input[type=submit] { color:#fff; font-size: 14px; font-weight:500; }


.contact-form-details ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#a7b0b8;
}
.contact-form-details ::-moz-placeholder { /* Firefox 19+ */
  color:#a7b0b8;
}
.contact-form-details :-ms-input-placeholder { /* IE 10+ */
  color:#a7b0b8;
}
.contact-form-details :-moz-placeholder { /* Firefox 18- */
  color:#a7b0b8;
}

.contact-form-details .form-inner-col span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
    text-align: left;
    position: relative;
    top: -20px;
}


.order-product-col { padding-bottom:60px; }
.order-top-content h3, .agency-discount h3 { margin-bottom:5px; }
.order-top-content h2, .agency-discount h2 { margin-bottom:10px; }



.product-grid-item {
  background: #fff;
  padding:0px;
  box-sizing: border-box;
  margin-bottom:60px;
-webkit-box-shadow: -1px 4px 11px -1px rgba(234,234,234,1);
-moz-box-shadow: -1px 4px 11px -1px rgba(234,234,234,1);
box-shadow: -1px 4px 11px -1px rgba(234,234,234,1);
   transition: transform .2s;
}
    .product-grid-item.first {
    clear: left;
}
 .product-grid-item.last {
    clear: right;
}
.product-grid-item:nth-of-type(even) .product-list-top {
  background:#343534;
  border: 0px solid #343534;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative; min-height: 140px;
}

.product-grid-item:nth-of-type(even) .product-list-top:before {
 content: "";
 width: 0px;
 height: 0px;
 position: absolute;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-top: 10px solid #343534;
 border-bottom: 10px solid transparent;
 right: 50%;
 bottom: -19px;
}

.product-grid-item:nth-of-type(odd) .product-list-top {
     background:#002b36;
  border: 0px solid #002b36;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative; min-height: 140px;
}
.product-grid-item:nth-of-type(odd) .product-list-top:before {
 content: "";
 width: 0px;
 height: 0px;
 position: absolute;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-top: 10px solid #002b36;
 border-bottom: 10px solid transparent;
 right: 50%;
 bottom: -19px;
}

.product-list-text {
  min-height: 470px;
}

.product-grid-item .product-title a {
    font-size: 20px;
    display: block;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    color: #fff;
    border: none;
    font-style: italic;
}

.product-list-price {
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}
.product-grid-item .price { display: inline;}

.product-grid-item .product-list-price .subscription-details {
  display: none;
}
.product-grid-item .price span.woocommerce-Price-amount.amount {
	font-size:18px;
	margin-bottom: 0;
	color:#ababab;
	font-weight: 800;
}

.product-list-text ul{
    padding: 10px 0px 10px;
	background: #fff;
}
.product-list-text li {
    display: block;
    list-style: none;
    border-bottom: #f8f8f8 1px solid;
    line-height: 20px;
    text-align: center;
    padding: 10px 15px;
    font-size: 13px;
    color: #8c8c8c;
}
.product-list-text li:last-child { border-bottom:none; }

.product-list-bottom {
    background: #f8f8f8;
    text-align: center;
    padding:30px 10px;
}

.product-list-bottom a {
    background: #343534;
    color: #fff;
    padding: 15px 15px;
    min-width: 170px;
    display: inline-block;
    font-weight: 800;
    text-decoration: none;
}
.basel-products-element .products-footer .basel-products-load-more {
    position: relative;
    border-color: #7da7b4;
    border-width: 2px;
    font-weight:500;
    background-color: #7da7b4;
    color: #fff;
    border-radius: 50px;
}
.basel-products-element .products-footer .basel-products-load-more:hover {
    border-color: #447381;
    background-color: #447381 ;
    color: #fff;
}
.basel-products-element .btn.basel-load-more {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 20px;
}
.product-grid-item:hover {
	background: #fff;
	-webkit-box-shadow:1px 4px 11px 1px rgba(33, 93, 109, 0.25);
	-moz-box-shadow:1px 4px 11px 1px rgba(33, 93, 109, 0.25);
	box-shadow:1px 4px 11px 1px rgba(33, 93, 109, 0.25);
	z-index: 1;
	transform: scale(1.1);
	cursor:pointer;
 }
   
.product-grid-item:hover:nth-of-type(even) .product-list-top  {
  background:#7da7b4;
  padding:27px 20px;
}

.product-grid-item:hover:nth-of-type(even) .product-list-top:before  {
  border-top: 10px solid #7da7b4;
}

.product-grid-item:hover:nth-of-type(odd) .product-list-top {
     background:#7da7b4;
  padding:27px 20px;
}
.product-grid-item:hover:nth-of-type(odd) .product-list-top:before {
 border-top: 10px solid #7da7b4;
}

.product-grid-item:hover .product-list-price { color:#fff; }
.product-grid-item:hover .product-list-price .price { color: #fff;}
.product-grid-item:hover .price span.woocommerce-Price-amount.amount { color:#fff; }
.product-grid-item:hover .product-list-bottom a {  background: #7da7b4; color: #fff;}

.site-content.shop-content-area {
    margin-bottom: 150px;
    padding-top: 60px;
}

.single-product-page .entry-summary {
    text-align: left;
}
.single-product-page .entry-summary .basel-scroll-content {
    border-bottom: #363636 2px solid;
}
.single-product-content .entry-title {
    font-family: 'Lato', sans-serif !important;
    margin-bottom: 25px;
    font-weight: 300 !important;
    text-transform: uppercase;
    border-bottom: #363636 2px solid;
    padding-bottom: 20px;
}
.single-product-content p.price {
    margin-bottom: 40px;
	color:#363636;
 }
.single-product .price .amount, .subscription-details{font-size:25px; color:#363636 !important;}
.product-design-alt .single_variation .out-of-stock, .product-design-alt .single_variation .in-stock, .product-design-alt .single_variation .price{margin-left: 0px; margin-right: 0px}
.woocommerce-variation-add-to-cart #pt-product-total-price{font-size:25px; color:#363636 !important;margin-bottom:20px;}
#wc-single-product-price{font-size:25px; color:#363636 !important;margin-bottom:40px; line-height: 25px}
.single-product-content .variations td { text-align: left !important;}
.product-design-alt .variations td.label {display: block; padding-bottom:15px; }
.single-product-content .variations td.value { width: 90%; padding-bottom: 20px;  max-width: 300px;}
.single-product-content .quantity_text {font-weight:bold; font-size: 15px; color: #20232f; padding-bottom: 15px;}
.single-product-content .variations label { font-size: 15px;font-weight:bold; color: #20232f;}
.product-tabs-wrapper h2 {
    font-size:28px;
    text-transform: uppercase;
    border-bottom: #a2a2a2 2px solid;
    padding-bottom: 15px;
    text-align: center;
} 


/*
.product_single_image {background: url('../basel-child/images/about-banner.jpg') no-repeat; -webkit-background-size: cover;-moz-background-size: cover;
-o-background-size: cover;background-size: cover;height: 300px;}*/
.faq_section { padding-top:60px; }
.faq_section h2 { font-size:28px; text-transform: uppercase;  padding-bottom: 15px;  text-align: center;} 
.faq_section .card-link {
    text-align: left;
    color: #20232f;
    font-size: 15px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 600;
}
.faq_section .card-header {background-color:#fff;text-align:left; border-bottom: 1px solid #dedede;}
.faq_section .card-body {
    padding: 20px;
    background: #f8f8f8;
    border-top: 0px solid #dedede;
    font-size: 16px;
    line-height: 22px;
}
.faq_section .card { position: relative; display: -ms-flexbox; display: flex; -ms-flex-direction: column;  flex-direction: column;
    min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border:1px solid #dedede; border-radius:0;}
.faq_section .card-header p { position: absolute; top: 10px; right: 15px; font-size: 15px; color: #000; -webkit-animation: minus 0.5s; font-weight: 600;}

@keyframes minus {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}



.cart-collaterals {
     margin-bottom: 100px;
}
.single-breadcrumbs-wrapper{display: none;}
.woocommerce-additional-fields{display: none;}
.woocommerce-checkout .checkout_coupon{display: block !important;}
.checkout-finaltotal thead, .checkout-finaltotal tbody, .checkout-finaltotal .cart-subtotal {display: none; }
.checkout-order-review .cart-discount, .checkout-order-review .order-total, .woocommerce-billing-fields label{display: none;}
.step-change, .woocommerce-account-fields{display: none;}



.single-product-page {
    padding-top:0px;
}
::-ms-expand {
    display: none;
}
.static-banner {
    background:rgba(44, 46, 48, 0.8);
    color: #fff;
    width:76%;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
}

.static-banner h1 {
    font-size: calc(1.8vw + 1.8vh);
    font-weight: 800;
    color: #fff;
    margin-bottom: 0px;
    text-transform: uppercase;
}


.woocommerce-checkout .page-title {
    margin-bottom: 0px;
}
.woocommerce-checkout .site-content {
    margin-bottom: 150px;
}
.checkout-breadcrumbs-wrap {
    padding-top:30px;
    /*background: #F9F9F9;*/
    padding-bottom:40px;

}

.checkout-breadcrumb {
    font-size: 13px;
    line-height: 20px;
    display: inline;
    color: #9E9E9E;
    vertical-align: middle;
}

.checkout-breadcrumb a {
    margin-right: 5px;
}

.checkout-breadcrumb a:first-child:before {
    content: "\f015";
    margin-right: 5px;
    font-family: FontAwesome;
}

.checkout-breadcrumb a:after {
    content: "/";
    margin-left: 5px;
}
.checkout-breadcrumb a:last-child:after {
   content: "";
}


.step-num .badge-info {
    color: #7da7b4;
    background-color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: #7da7b4 1px solid;
    display:black;
    line-height: 32px;
    font-size: 25px;
    font-weight: 500;
     display: inline-block;
  padding: .25em .4em;
  text-align: center;
}


.checkout-step-title h3 {
    vertical-align: middle;
    display: table-cell;
    line-height: 53px;
	
}

.woocommerce-checkout .woocommerce-info {
    margin-bottom: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    overflow: visible;
    color: #20232f;
    font-size: 13px;
    font-weight: 500;
	line-height: 50px;
    font-family: 'Lato', sans-serif;
}
.woocommerce-checkout .woocommerce-info .showcoupon, .woocommerce-checkout .woocommerce-info .showlogin {
    border-bottom: 1px solid #E6E6E6;
    display: inline;
    margin-left: 0px;
    line-height: 1.5;
}
.woocommerce-checkout .woocommerce-account-fields, .woocommerce-checkout .woocommerce-billing-fields, .woocommerce-checkout .woocommerce-shipping-fields {
    margin-top:15px;
}

.step1-wrap, .step2-wrap, .step3-wrap {
    padding-left: 20%;
    border-bottom: #363636 2px solid;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
 .step3-wrap {border-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px;}
 .woocommerce-terms-and-conditions-wrapper{display: none;}
.woocommerce-checkout .place-order button{width: 400px;
border-radius: 10px;}
.register-text {
    margin-bottom: 20px;
    clear: left;
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 18px;
    color: #9a9a9a;
}
.billing-btn {
    padding-top:15px;
}
#account_password_field {
    margin-bottom: 10px;
}

.woocommerce-checkout .checkout_coupon {
    max-width: 100%; padding: 15px 30px;

}

.checkout_coupon_inner { border-top: #363636 2px solid; padding:20px 0px 0px; }

.woocommerce-checkout .checkout_coupon p.form-row-first {
    float: left;
 
}
.woocommerce-checkout .checkout_coupon p.form-row-last { float:right;}
.woocommerce-checkout .checkout_coupon p {
    margin-bottom: 15px;
    margin-top: 5px;
}
.woocommerce-checkout .checkout_coupon:before, .woocommerce-checkout .login.hidden-form:before {
 	display:none;
}
.product-thumb { position:relative; }
.product-thumb span.checout-product-quantity {
    position: absolute;
    right: 0;
    top: 0;
}

.product-thumb .badge-info {
    color: #7da7b4;
    background-color: #fff;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: #7da7b4 2px solid;
    display: block;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: .25em .4em;
}
.woocommerce .variation dd, .woocommerce-page .variation dd {
    clear: left;
    position: relative;
    top: 0;
}

.single-product-content .variations label:after { 	display:none;}
.shop-loop-head { display:none;}


.woocommerce-cart-form table tr th { font-size:16px;}
.shop_table td.product-subtotal span { font-size: 16px;}

.cart-collaterals .cart_totals table .order-total th { font-size: 18px;}
.cart-collaterals .cart_totals table .order-total td > strong { font-size:18px;}

table.shop_table.woocommerce-checkout-review-order-table thead {
    display: none;
}
.woocommerce-checkout-review-order-table tfoot .order-total th { font-size: 18px;}
.woocommerce-checkout-review-order-table tfoot .order-total td > strong {  font-size: 18px;}
.woocommerce-checkout .checkout-order-review {  background-image: none;  padding:30px 30px 0px 30px; margin-top:0px;}
.woocommerce-checkout .checkout-order-review .responsive-table { background-color: transparent; padding: 0;margin-bottom: 0px;}

.woocommerce-checkout .checkout-order-review .woocommerce-checkout-review-order-table th, .woocommerce-checkout .checkout-order-review .woocommerce-checkout-review-order-table td {
    border: none;
    width: 20%;
    max-width: 20%;
}
#add_payment_method #payment ul.payment_methods .stripe-card-group, .woocommerce-checkout #payment ul.payment_methods .stripe-card-group {width: 100%; }
.woocommerce-checkout .wc-stripe-elements-field, .woocommerce-checkout .wc-stripe-iban-element-field{width: 100%}
.woocommerce-checkout .form-row.woocommerce-SavedPaymentMethods-saveNew #wc-stripe-new-payment-method{width: 6% !important;float: left;}
.woocommerce-checkout .form-row.woocommerce-SavedPaymentMethods-saveNew label{  width: 91% !important;  float: right;  font-size: 13px;  line-height: 14px;  text-align: left;}
.woocommerce-checkout .wc_payment_method.payment_method_stripe label{width:100%;}

.woocommerce-checkout .wc_payment_method.payment_method_stripe .stripe-icon {
    display: inline-block;
    width: 100%;
}

.shop_table td.product-name > a {color:#363636; text-transform: uppercase; letter-spacing: .3px; display: block; font-size: 16px; font-weight: 800; font-family: 'Lato', sans-serif; }
.shop_table td.product-name .variation {display: inline-flex; }
.woocommerce-cart-form__cart-item.cart_item span.variation-sep {color: #7da7b4; position: relative; top: 7px; }
.woocommerce-cart-form__cart-item.cart_item dd.variation-WordCount {margin-right: 5px; }
.woocommerce-cart-form__cart-item.cart_item dd.variation-ReoccurringServiceFor {margin-left: 5px; }
table.shop_table.woocommerce-checkout-review-order-table td.product-name {font-size: 18px; text-transform: uppercase; font-family: 'Lato', sans-serif; font-weight:800; color:#363636; }
.woocommerce-checkout-review-order-table tbody td.product-name .variation {display: inline-flex; margin-top: 10px; font-family: 'Lato', sans-serif; font-weight:800; color:#363636; font-size:16px; }
.woocommerce .variation dt p, .woocommerce .variation dd p, .woocommerce-page .variation dt p, .woocommerce-page .variation dd p {color: #363636; }
.woocommerce-checkout-review-order-table span.variation-sep {color: #7da7b4; position: relative; top: 7px; font-size:12px; }
.woocommerce-checkout-review-order-table dd.variation-WordCount {margin-right:0px; }
.woocommerce-checkout-review-order-table dd.variation-ReoccurringServiceFor {margin-left: 5px; }
.woocommerce-checkout-review-order-table dd p, .woocommerce-checkout-review-order-table dd.variation-ReoccurringServiceFor p {font-size: 12px; font-weight: 600; font-style: italic; }
.woocommerce-checkout-review-order-table .product-total {text-align: right; font-size: 16px; font-weight: 600; color: #363636; }
.woocommerce-checkout-review-order-table tfoot td {font-weight: 800; }
.woocommerce-Price-amount.amount {color: #363636; }
.single-product-content .variations td.value select {max-width: 100%; }
.single-product-content .single_variation_wrap .variations_button {display: block; }
.product-design-alt .single_variation_wrap button.single_add_to_cart_button {float: right; }
.woocommerce-my-account-wrapper {padding-bottom: 150px; width: 100%; float: left; }
#customer_login span.required {display: none; }
#quoteform .wpcf7-not-valid-tip{display: none !important;}
.single-product.header-full-width .woocommerce-message a {background: none !important; border: none !important; text-decoration: none; }
.woocommerce .basel-empty-cart-text{display: none;}
.billing-fill-info.bor-btm{ padding:0px 0px 20px;}
.col-sm-12.billing-fill-info1.bor-btm .checkout-step-title .step1-email{ padding-left:20%; color:#7da7b4;}
.col-sm-12.billing-fill-info2.bor-btm .checkout-step-title .step2-address{ padding-left:20%; color:#7da7b4;}
.billing-fill-info2 .step-change{text-align:right; padding-top:20px; color:#7da7b4; font-weight:600;}
.billing-fill-info2 .step-change a{  color:#7da7b4;}
.billing-fill-info1 .step-change{text-align:right; padding-top:20px; color:#7da7b4; font-weight:600;}
.billing-fill-info1 .step-change a{  color:#7da7b4;}
.col-sm-12.billing-fill-info1.bor-btm { border-bottom: 2px solid #000; padding: 0 0 20px 0;}
.col-sm-12.billing-fill-info2.bor-btm #customer_details { border-bottom: 2px solid #000; padding: 0 0 20px 0; margin-bottom: 20px; }
.mfp-close-btn-in .mfp-close {color: #333; background: none !important; border: none !important; width: 44px !important;min-width: auto; }
.blog-post-content .order-form-fields.more-rel-links{display: none;}

.woocommerce-order-pay .sticky-header, .woocommerce-order-pay .topbar-wrapp.ar.color-scheme-light,.woocommerce-order-pay .main-nav.site-navigation.basel-navigation.menu-right,
.woocommerce-order-pay .right-column,  .woocommerce-order-pay .basel-prefooter, .woocommerce-order-pay .footer-container.color-scheme-light {
  display: none;
}
.woocommerce-order-pay .site-logo {width: 100%; text-align: center; }
.woocommerce-order-pay .woocommerce ul.order_details, .woocommerce-order-pay .woocommerce-page ul.order_details {margin-bottom: 20px; text-align: center; width: 100%; margin-left: 0;}
.woocommerce-order-pay form.woocommerce-checkout {width: 310px; margin: 0 auto; text-align: center; }

.woocommerce-order-pay .woocommerce {width: 50%; margin: auto; background: #f3f3f3; padding: 50px; }
.postid-1632 .quantity_text{display: none;}
.product-design-alt.product-type-variable-subscription .variations_form {width: 100%; padding-bottom: 0; border-bottom: none; }
.woocommerce-product-gallery__image a {pointer-events: none; }
.quantity.wc_qty {pointer-events: none; opacity: 0.5; }
.checkout-breadcrumb a:first-child::before{display: none;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

  ::i-block-chrome, body {
    -webkit-text-stroke: 0.1px;
  }
  .page-title .entry-header:after {
    width: 62%;
  }
  
 
::i-block-chrome,.basel-prefooter::before {
   top: -65px;
 
}
 
  
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
 
.basel-prefooter::before { top: -65px;}

	
}
}


@media (min-width:992px) {
.order-top-content .middle-text {
    width: 50%;
    margin: auto;
 
}


}

@media (min-width:1200px) {
	
  .plan-box:nth-child(even) {
    margin-left: 0%;
  }

  .plan-box:nth-child(odd) {
    margin-left: 15%;
  }

  #testimonials_slider .owl-item {
    width: 535px !important;
  }
   .form-inner-col {
    width: 75%;
    margin: auto;
}
}

@media only screen and (min-width: 1600px) {
 .basel-prefooter:before {content: ""; position: absolute; display: block; width: 100%; height: 90px; top: -35px; left: 0; z-index: 1; background: #3f4b53; transform-origin: left top; -ms-transform: skew(0deg, -1.5deg); -webkit-transform: skew(0deg, -1.5deg); transform: skew(0deg, -1.5deg); }
}

@media (max-width: 1024px){
.scrollToTop {bottom: 45px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
		
.vc_row.wpb_row.vc_row-fluid.single-banner.vc_row-has-fill {
    height: auto;
}
	.static-inner-title h1 { font-size:calc(1.5vw + 1.5vh)}
	
  .plan-box:nth-child(even) {
    margin-left: 0%;
  }

  .plan-box:nth-child(odd) {
    margin-left: 15%;
  }

  .testimonials_slider .owl-carousel.owl-loaded {
    width: 890px;
    padding-left: 0px;
    margin: auto;
  }

  #testimonials_slider .owl-item {
    width: 415px !important;
    margin: 0 15px !important;
  }
   .checkout-step-title h3 {
    vertical-align: bottom;
    display: table-cell;
    line-height: inherit;
    padding-top: 10px;
}
.woocommerce-checkout .woocommerce-info {
    margin-bottom: 0;
     line-height: inherit;
     padding-top: 10px;
}

.basel-prefooter:before {
  height:105px;
  transform: skew(0deg, -2.1deg);
}
.woocommerce-checkout .wc_payment_method.payment_method_stripe label span.stripe-text {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.woocommerce-order-pay .woocommerce {
    width: 90%;
    margin: auto;
 
}
  
}

@media (min-width: 768px) and (max-width: 991px) {
		
.vc_row.wpb_row.vc_row-fluid.single-banner.vc_row-has-fill {
    height: auto;
}
	#searchsubmit {
    background-color: transparent !important;
    border: 0px !important;
    min-width: inherit;
}
	.static-inner-title h1 { font-size:calc(1.5vw + 1.5vh)}
  .how-it-works {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .how-it-works p {
    width: 100%;
  }

  .plan-box {
    padding:2px;
    width: 30%;
    margin: 0 10px;
    display: inline-block;
  }

  .plan-box h2 {
    font-size: 27px;
  }

  .plan-box h3 {
    font-size:9px;
  }
.plan-box-one p, .plan-box-three p {
    padding-left:0px;
}
.plan-box-two p {
    padding-right:0px;
}
  .plan-button .vc_btn3.vc_btn3-shape-rounded {
    min-width: 160px;
  }

  .testimonials_slider .owl-carousel.owl-loaded {
    width: 680px;
    padding-left: 0px;
    margin: auto;
  }

  #testimonials_slider .owl-item {
    width: 320px !important;
    margin: 0 10px !important;
  }

  .ft-top-text p {
    padding-right: 10px;
    margin-bottom: 20px;
  }
  
  .step1-wrap, .step2-wrap, .step3-wrap { padding-left: 0%;}
  .step-num { text-align: center; margin-bottom: 20px;}
  .checkout-step-title h3 {
    display: block;
    line-height: 40px;
    text-align: left;
    margin-bottom: 0px;
}
  .woocommerce-checkout .woocommerce-info { margin-bottom: 0px; line-height: 30px;  text-align: center;}
 .products .product-grid-item {
    padding-left: 0px;
    padding-right: 0px;
}

.product-grid-item:hover:nth-of-type(even) .product-list-top  {
  background:#7da7b4;
  padding:20px 20px;
}

.product-grid-item:hover:nth-of-type(odd) .product-list-top {
     background:#7da7b4;
  padding:20px 20px;
}
.site-content.shop-content-area {
    padding-top:0px;
}
.site-content.shop-content-area.content-with-products {
    padding-top: 60px;
}
.product_single_image {
    height: 25vh;
 
}
.woocommerce-my-account-wrapper {  padding-bottom: 50px;}
  .email-bdr-left{padding-left: 47px;}
  .customer-login-form .u-column1 {
    width:50%;
    max-width:50%;
    margin-right:0%;
}
.customer-login-form .u-column2 {
    width:50%;
    max-width:50%;
    margin-left: 0%;
}

.basel-prefooter:before {
  height:105px;
  transform: skew(0deg, -2.1deg);
}
.woocommerce-checkout .wc_payment_method.payment_method_stripe label span.stripe-text {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.woocommerce-order-pay .woocommerce {
    width: 90%;
    margin: auto;
 
}
.product-grid-item.first {
  clear: none;
}
.product-grid-item.last {
  clear: none;
} 
.product-grid-item:nth-of-type(2n) .product-list-top, .product-grid-item:nth-of-type(2n+1) .product-list-top{min-height: 170px;}
.product-list-text {
  min-height: 530px;
}
}

@media (max-width: 767px) {
.inner-banner { width: 100%; padding: 20px 10px;}
.inner-banner h1 { font-size: 30px; margin-bottom: 10px;}	
.inner-banner p { font-size: 16px;}
	
.vc_row.wpb_row.vc_row-fluid.single-banner.vc_row-has-fill {
    height: auto;
}
h1 {
  font-size:30px;
}

h2 {
  font-size:25px;
}

.static-inner-title h1 {
    font-size:calc(1.2vw + 1.2vh);
 }
 
  #searchsubmit {
    background-color: transparent !important;
    border: 0px !important;
    min-width: inherit;
  }

  .how-it-works {
    padding-top: 20px;
    padding-bottom: 20px;
  }
.site-content.shop-content-area {
    padding-top: 15px;
}
  .how-it-works p {
    width: 100%;
    margin: auto;
  }

  .plan-box {
    width: 300px;
    margin: 0 auto 30px;
  }

  .testimonial-des {
    width: 100%;
  }

  .owl-carousel.owl-loaded {
    padding-left: 0px;
  }

  .quote-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .basel-prefooter {
    text-align: center;
  }

  .ft-top-text p {
    padding-right: 0px;
    margin-bottom: 20px;
  }

  .ft-top-text {
    padding: 20px 0px 30px;
  }

  .email-bdr-left {
    border: 0px solid;
    padding-left: 15px;
  }

  ul.email-content {
    width: 300px;
    margin: auto;
    text-align: left;
  }

  .footer-bottom {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .customer-login-form .login .button, .lost_reset_password .button, .register .button {
    margin-top: 30px;
	margin-bottom:30px;
}
.single-product-page {
    padding-top: 20px;
}
.products .product-grid-item {
    padding-left: 0px;
    padding-right: 0px;
}
.product-grid-item:hover {
    transform: scale(1.0);
}
.plan-box-one p, .plan-box-three p {
    padding-left:0px;
}
.plan-box-two p {
    padding-right:0px;
}

 .step1-wrap, .step2-wrap, .step3-wrap { padding-left: 0%;}
  .step-num { text-align: center; margin-bottom: 20px;}
  .checkout-step-title h3 { display: block; line-height: inherit; text-align: center; }
  .woocommerce-checkout .woocommerce-info { margin-bottom: 0px; line-height: 30px;  text-align: center;}
 .woocommerce-my-account-wrapper {  padding-bottom: 50px;}
 .customer-login-form {
    padding-bottom: 50px;
}
 .customer-login-form .u-column1, .customer-login-form .u-column2 {width: 100%; max-width: 100%; margin-right: 0%; margin-left: 0%; flex: inherit; padding-left: 20px; padding-right: 20px; }
.customer-login-form .lost_password {
    position: absolute;
    right: 10px;
}

.woocommerce-order-pay .woocommerce {
    width:100%;
    margin: auto;
	padding:15px;
 
}

.woocommerce-order-pay .woocommerce p.form-row.woocommerce-SavedPaymentMethods-saveNew label {
    font-size: 14px !important;
}
.product-grid-item.first {
  clear: none;
}
.product-grid-item.last {
  clear: none;
} 
.product-grid-item:nth-of-type(2n) .product-list-top, .product-grid-item:nth-of-type(2n+1) .product-list-top{min-height: 150px;}
.product-list-text {
  min-height: 490px;
}
}

@media (min-width:401px) and (max-width:767px) {
	
	
.footer-container ul {
    text-align: center;
}
  .footer-container ul li {
    margin-bottom: 15px;
    width: 100%;
    float: left;
  }

  .footer-parent-item > a, .footer-address h3 {
    margin-bottom: 15px;
  }

  .footer-address {
    margin-top: 15px;
	text-align:center;
  }
  .footer-address .textwidget {
    width:50%;
}
.woocommerce-checkout .wc_payment_method.payment_method_stripe label span.stripe-text {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

}

@media (max-width:400px) {
  .top-bar-left i {
    font-size: 15px;
    margin-right: 6px;
  }
.topbar-wrapp.color-scheme-light .top-bar-left {
    color: #000;
    display: inline-block;
    line-height: 44px;
    font-size: 8px;
}
  .top-bar-right .login-link {
    padding-right: 10px;
  }

  .top-bar-right .top-cart {
    margin-right: 10px;
  }
.footer-container ul {
    text-align: center;
}
  .footer-container ul li {
    margin-bottom: 15px;
    width: 100%;
    float: left;
  }

  .footer-parent-item > a, .footer-address h3 {
    margin-bottom: 15px;
  }

  .footer-address {
    margin-top: 15px;
	text-align:center;
  }
  .footer-address .textwidget {
    width:75%;
}
  .products .product-grid-item {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
 
}
.form-row.woocommerce-SavedPaymentMethods-saveNew label{width: 92% !important;}
.woocommerce-checkout .wc_payment_method.payment_method_stripe label span.stripe-text {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.product-grid-item:nth-of-type(2n) .product-list-top, .product-grid-item:nth-of-type(2n+1) .product-list-top{min-height: auto;}
.product-list-text {
  min-height: auto;
}
.top-bar-right .login-link.dashboard-link-desk{display: none;}
.top-bar-right .login-link.dashboard-link-mobile{display: inline-block;}
}

@media (max-width:320px) {
	
	

.woocommerce-order-pay .woocommerce p.form-row.woocommerce-SavedPaymentMethods-saveNew label {
    font-size: 11px !important;
}
}









