﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i,800,800i');
@font-face {
	font-family: 'Anton-Regular';
	src: url('fonts/Anton-Regular.eot');
	src: local('☺'), url('../fonts/Anton-Regular.woff') format('woff'), url('../fonts/Anton-Regular.ttf') format('truetype'), url('../fonts/Anton-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body { padding: 0; margin: 0; font-family: 'Open Sans', sans-serif; font-size: 14px;  color: #000; }



h1{font-size:40pt;color:#010101; font-family: 'Anton-Regular';}
h2{font-size:30pt;color:#010101; font-family: 'Anton-Regular';}
h3{font-size:24pt;color:#010101; font-family: 'Anton-Regular';}
h4{font-size:18pt;color:#010101; font-family: 'Open Sans', sans-serif;}
h5{font-size:18pt;color:#f4a412; font-family: 'Open Sans', sans-serif;}
h6{font-size:16pt;color:#010101; font-family: 'Open Sans', sans-serif;}



input[type=text], input[type=email], input[type=url], input[type=password], input[type=number], input[type=date], input[type=tel], select, textarea {
  height: 48px;
  border: 1px solid #939089;
}

textarea {
  height: auto !important;
  line-height: 1.5;
  padding: 10px 15px;
  resize: none;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {

  ::i-block-chrome, body {
    -webkit-text-stroke: 0.1px;
  }
  
}

	@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0)
{  
    .page-title .entry-header:after { width:62%;}
}

	
@media (min-width:1200px) {

}
@media (min-width:1360px) {

}
@media only screen and (min-width: 1600px) {

}




@media (max-width:767px) {	


}


@media (min-width:768px) and (max-width: 991px) {

}


@media (min-width:992px) and (max-width: 1199px) {

}



@media (min-width:481px) and (max-width:767px) {
	
  

}

@media (min-width:321px) and (max-width:480px) {
}

@media (max-width:320px) {
}
