@media screen and (max-width: 1230px) {
.container{width:1120px;}
.desktop-menu ul li a {padding: 4px 9px 8px 9px;}
.desktop-menu ul li{margin-right: 0;}
.head-top {padding: 23px 0 27px 0;}
.header {margin-bottom: 15px;}
.slider .home_slider .text-on-image{width: 620px;}
.slider .home_slider .text-on-image .text-box {height: 360px;}
.slider{margin-bottom: 30px;}
.authors-container .author-div,.authors-container .agent-div{width: 540px; padding: 13px 22px 35px 22px;}
.authors-container h2{margin-bottom: 5px;}
.authors-container ul .owl-nav{top: -30px;}
.authors-container{margin-bottom: 30px;}
.welcome-container h1 {font-size: 32px;	margin-bottom: 25px;}
.welcome-container .desc p {font-size: 16px;line-height: 26px;margin: 0 0 20px 0;}
.welcome-container {padding: 40px 0;}
.col-lft {width: 821px;}
.post-img{margin-bottom: 15px;}
.post-con h2 {font-size: 22px;	line-height: 24px; min-height: 50px;}
.post-con p{margin-bottom: 15px;}
.post-con .post-det{margin-bottom: 12px;}
.addtoany_shortcode .addtoany_list a{width: 66px;}
.post-con p {font-size: 15px;line-height: 25px; min-height: 150px;}
.post-grp .post {width: 398px;margin: 0 0 24px 0;}
.post-grp .post:nth-child(2n) {margin-left: 24px;}
.foot-block-1 {width: 322px;padding-right: 30px;}
.foot-block-3 {width: 320px;padding-right: 54px;}
.foot-block-2 {width: 258px;}
.foot-logo {margin-bottom: 30px;}
.foot-block-1 .desc {margin-bottom: 20px;}
.foot-block-2 ul li{line-height: 32px;}
.footer{padding: 45px 0;}
.foot-block-3 ul li {padding-bottom: 20px;margin-bottom: 23px;}
.side-block{margin-bottom: 30px;}
.sidebar-title{letter-spacing: 3px;}


.page-title-wrapper h1{font-size: 32px;}
.registration-div .wppb-user-forms ul li{width: 510px;}
.registration-div input.text-input, .registration-div input.extra_field_input {width: 345px !important;}


.blog-single-container .post-content h2 {font-size: 32px;line-height: 32px;}
.blog-single-container .post-content {padding: 28px 60px 38px 60px;}
.blog-single-container .post-content p{margin-bottom: 24px;}
.post-content h3 {font-size: 22px;margin: 0 0 21px 0;	line-height: 22px;}
.post-content h4{font-size: 17px; line-height: 24px;}
.post-content .arrow-ol,.post-content .arrow-ul{margin-bottom: 20px;}
.blog-single-container .addtoany_shortcode .addtoany_list a {width: auto;}


.blog-single-container .post-content p{margin-bottom: 24px;}

.pitch-post-div .postbox,.edit-postbox-area{width: 49%; padding: 36px 30px 35px 27px}
.pitch-post-div .postbox .control {width: 303px;}
.pitch-post-div .postbox label {width: 160px;}
.pitch-post-div .postbox .form-submit {padding-left: 168px;}
.edit-postbox form .field label {margin-bottom: 9px;margin-top: 10px;}
.edit-postbox-area h2 {font-size: 24px;margin-bottom: 20px;}

.pitch-post-list {width: 804px;}
.pitch-post-list .blog-listing .post-rgt-area {float: right;width: 724px;background: #fff;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area,.pitch-post-list .blog-listing .post-rgt-area .post-top {padding: 30px;}
.pitch-post-list .blog-listing .post-rgt-area h2 {font-size: 24px;line-height: 25px;margin-bottom: 17px;}
.pitch-post-list .blog-block {text-align: left;margin-bottom: 25px;}
.pitch-post-list .blog-listing .post-rgt-area .post-info-area p, .pitch-post-list .blog-listing .post-rgt-area .post-content p {margin-bottom: 8px;}


.common-div.search-result .common-div.search-result-list h2 {font-size: 22px;	line-height: 24px;}
.common-div.search-result .common-div.search-result-list p {font-size: 15px;line-height: 25px; min-height: 150px;}

.error404 .common-div p,.common-div .thank-div p{font-size: 15px;line-height: 25px;}.home-blog-sec .post-grp .post {	margin-left: 24px;}.home-blog-sec .post-grp .post {	width: 357px;}
}                    
@media screen and (max-width: 1150px) {
.container{width:1000px;}
.h-logo img{max-width: 700px;}
.h-search{margin-top: -14px;}
.desktop-menu ul li a {padding: 0 5px 0 6px;font-size: 14px;line-height: 46px;}
.head-top {padding: 19px 0 23px 0;}
.slider .home_slider .text-on-image {width: 540px;}
.slider .home_slider .text-on-image .text-box {height: 310px;}
.authors-container .author-div, .authors-container .agent-div {width: 490px;}
.col-lft {width: 700px;}
.post-grp .post {width: 338px;margin: 0 0 24px 0;}
.addtoany_shortcode .addtoany_list a {width: 54px;}

.welcome-container h1 {	font-size: 30px;	margin-bottom: 22px;}
.welcome-container .desc p {font-size: 15px;line-height: 24px;margin: 0 0 16px 0;}
.post-con h2 {font-size: 19px;line-height: 21px;min-height: 50px;}
.post-con p{min-height: 175px;}
.foot-block-1 {width: 282px; padding-right: 15px;}
.foot-block-2 {width: 210px;}
.foot-block-3 {width: 288px;padding-right: 15px;}
.footer {padding: 40px 0;margin: 0;}


.page-title-wrapper{margin-bottom: 20px;}
.middle-container .content-div .login-div {padding: 36px 28px;}
.login-div #loginform p.login-submit{margin-top: 15px;}
.login-div .secondary{margin-top: 0;}
.middle-container {padding: 2px 0 39px 0;}


.middle-container .content-div .forgot-div {padding: 36px 28px;}
.forgot-div p.form-submit{margin-top: 15px;}



.middle-container .content-div .registration-div{padding: 36px 28px 20px 28px;}
.registration-div .wppb-user-forms ul li {width: 460px;}
.registration-div input.text-input, .registration-div input.extra_field_input {width: 295px !important;}


.blog-single-container .post-content h2 {font-size: 29px;line-height: 29px; margin-bottom: 16px;}
.post-content .post-det {margin: 0 0 19px 0;}
.blog-single-container .post-det-img{margin-bottom: 20px;}
.blog-single-container .post-content p {margin-bottom: 20px;}
.post-content h3 {font-size: 20px;margin: 0 0 20px 0;line-height: 22px;}
.post-content .arrow-ol,.post-content .arrow-ul {margin-bottom: 14px;}

.bio-container .col-lft p{margin-bottom: 20px;}
.pitch-post-div .postbox .control {width: 282px;}
.pitch-post-div .postbox .form-submit input[type="submit"]{width: 100%;}
.pitch-post-div .postbox .field{margin-bottom: 13px;}
.pitch-post-div .postbox, .edit-postbox-area {width: 49%;padding: 26px 20px 25px 20px;}
.edit-postbox-area h2 {font-size: 21px;margin-bottom: 15px;}
.edit-postbox form .field label {margin-bottom: 6px;margin-top: 10px;}


.pitch-post-list .blog-listing .post-rgt-area h2 {font-size: 22px;line-height: 25px;margin-bottom: 12px;}
.pitch-authors-container {float: right;width: 275px;}
.pitch-post-list {width: 710px;}
.pitch-post-list .blog-listing .post-rgt-area {width: 630px;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area, .pitch-post-list .blog-listing .post-rgt-area .post-top {padding: 20px;}
.pitch-post-list .blog-listing .post-rgt-area h2 {font-size: 20px;line-height: 25px;margin-bottom: 12px;}
.pitch-post-list .blog-listing .post-rgt-area .post-info-area p, .pitch-post-list .blog-listing .post-rgt-area .post-content p {margin-bottom: 8px;line-height: 25px;}
.pitch-post-list .blog-listing .post-rgt-area .post-cmment-count{margin-top: 10px;}
.pitch-authors-container ul {padding: 0 20px;}
.pitch-authors-container ul .owl-nav div.owl-prev{left: 7px;}
.pitch-authors-container ul .owl-nav div.owl-next{right: 7px;}


.rules-div p{font-size: 15px; margin-bottom: 20px; line-height: 26px;}
.rules-div ul li, .rules-div ol li {font-size: 15px;line-height: 26px; margin-bottom: 7px;}

.contact-form{padding: 40px;}

.common-div.search-result .common-div.search-result-list h2 {font-size: 19px;line-height: 21px;}
.common-div.search-result .common-div.search-result-list{padding: 35px;}

#book-filter select,#book-filter input,#book-filter input[type="submit"]{width: 180px;}.home-blog-sec .post-grp .post {	width: 317px;}
}                    
@media screen and (max-width: 1023px){
.container{width:782px;}
.mobile-menu{display: inline-block; width: 100%;}
.desktop-menu{display: none;}
.h-search {margin-top: 0;top: auto;bottom: -42px;}
.menu-div{padding: 10px 0; text-align: left;}
.mobile-menu .menu-btn{float: left; color: #fff; text-transform: uppercase; font-weight: 700;}
.mobile-menu .menu-btn img{float: left; margin-right: 7px;}
.head-top {padding: 10px 0;}
/*.authors-container .author-div, .authors-container .agent-div {width: 380px; padding: 13px;}*/
.authors-container h2{line-height: 25px; letter-spacing: 0.2em;}
.authors-container ul .owl-nav {top: -25px;}
.welcome-container h1 {font-size: 28px;margin-bottom: 19px;}
.welcome-container {padding: 30px 0;}

.simplefavorite-button-count{padding:0;}
.simplefavorite-button-count{margin:0 0 0 0;}
.post-lft{width:70px;}
.col-lft{width:65%;}
.post-grp .post {margin: 0 0 15px 0;width: 100%;}
.post-img {margin-bottom: 10px;}
.post-con h2 {font-size: 20px;line-height: 21px;min-height: inherit;}

.post-con p{min-height: inherit;}
.post-grp .post:nth-child(2n) {margin-left: 0;}
.col-rgt{width:250px;}
.banner{margin:20px 0 40px;}

.side-block{padding:10px;}
.pop-post-con h3{font-size:14px;}
.addtoany_shortcode a{width: 67px;}
.foot-block-1 {width: 100%;padding-right: 0;text-align: center;margin-right: 0;margin-bottom: 30px;}
.foot-logo a {float: none;}
.foot-logo {margin-bottom: 15px;}
.foot-block-1 .desc{line-height: 22px;}
.foot-block-1 .copyright span {display: inline-block;}
.foot-block-1 .desc {margin-bottom: 7px;}
.foot-block-3 {width: 338px; padding-right: 50px;}
.foot-block-2 {width: 240px;}
.foot-block-3 p{font-size: 14px;}
.ft-subscribe-form{margin-top: 21px;}
.foot-logo {max-width: 70%;float: none;display: inline-block;}
.insta-feeds-block .jr-insta-thumb ul.thumbnails.jr_col_3 li {width: 32.9% !important;}


.middle-container .content-div .login-div #loginform .input{height: 40px;}
.middle-container .content-div .login-div #loginform label{line-height: 40px;}
.login-div #wppb-login-wrap p{margin-bottom: 15px;}
.middle-container .content-div .login-div {padding: 28px;}
.page-title-wrapper h1 {font-size: 30px;}
.breadcrumb-container{margin-bottom: 5px;}
.breadcrumb-container ol li::after {margin: 0 10px 0 7px;}
.login-div #loginform p.login-submit .button{font-size: 17px;}


.middle-container .content-div .forgot-div .text-input{height: 40px;}
.middle-container .content-div .forgot-div label{line-height: 40px;}
.forgot-div p{margin-bottom: 15px;}
.middle-container .content-div .forgot-div {padding: 28px;}
.forgot-div p.form-submit .button{font-size: 17px;}


.middle-container .content-div .registration-div {padding: 25px;}
.registration-div input.text-input,.registration-div input.extra_field_input{height: 40px; width: 100% !important;}
.registration-div .wppb-form-field label {line-height: 30px;width: 100%;}
.registration-div .wppb-user-forms ul li {width: 350px; padding-bottom: 10px;}
.registration-div .wppb-register-user .wppb-field-error, .registration-div .wppb-edit-user .wppb-field-error, .registration-div #wppb-recover-password .wppb-field-error{padding-bottom: 10px !important;}
.registration-div .wppb-user-forms ul li.wppb-recaptcha{margin-top: 7px;}
.registration-div .form-submit .submit{font-size: 17px;}


.blog-single-container .post-content {padding: 18px 30px 28px 30px;}
.blog-single-container .post-content h2 {font-size: 25px;line-height: 28px;margin-bottom: 15px;}
.blog-single-container .post-det-img {margin-bottom: 16px;}
.blog-single-container .post-content p {font-size: 15px;line-height: 24px; margin-bottom: 16px;}
.post-content h3 {font-size: 19px;margin: 0 0 17px 0;line-height: 20px;}
.post-content h4 {font-size: 16px;margin: 0 0 9px 0;line-height: 21px;}
.post-content .arrow-ul li {background-position:left 8px;font-size: 15px;line-height: 24px;	padding-left: 14px;	margin-bottom: 7px;}
.post-content .arrow-ol li {font-size: 15px;line-height: 24px;	margin-bottom: 7px;}
.blog-single-container .addtoany_shortcode{margin-top: 15px;}

.bio-container .col-lft p,.bio-container .col-lft {font-size: 15px;line-height: 24px;}
.bio-container .col-lft p{margin-bottom: 16px;}

.user-img{width:90px;}
.user-detail{margin:0 0 0 15px;}
.user-detail h5{font-size:23px;}
.blog-user{padding:0 10px 30px;}
.related-articles{padding:30px 10px;}
.related-articles h3{font-size:20px; margin:0 0 20px 0;}
.related-articles ul li{font-size:15px;}
.prev-next{padding:25px 10px;}
.prev-next-btn li div{width:35px; height:35px;}
.prev-next-btn li{padding:0 30px;}
.comment-area{padding:15px;}
.comment-area h3{font-size:20px; margin:0 0 20px 0;}
.comment-area .form-lft{width:100%;}
.comment-area .form-rgt{width:100%; margin:16px 0 0 0;}
.comment-area .form-rgt textarea{height:100px;}
.html-tag{margin:20px 0 0 0;}
.html-code{margin:10px 0 0 0;}
.comment-area .form-row input[type="submit"]{margin:20px 0 0 0;}
.comment-area .form-lft input{height:40px;}
.comment-area .form-row label{font-size:16px;}
.comment-area .form-row input[type="submit"]{width:180px; height:40px; font-size: 16px;}


.pitch-post-div .postbox label {width: 100%;padding: 0; margin-bottom: 4px;}
.pitch-post-div .postbox .control {width: 100%;}
.pitch-post-div .postbox input,.pitch-post-div .postbox select{height: 40px;}
.pitch-post-div .postbox .field {margin-bottom: 8px;}
.pitch-post-div .postbox .form-submit {padding-left: 0;}
.edit-postbox form .field select, .edit-postbox form .field input{height: 40px;}
.pitch-post-div .postbox textarea{height: 150px;}


.pitch-post-list {width: 520px;}
.pitch-authors-container {width: 245px;}
.pitch-post-list .blog-listing .post-left-area{width: 65px;}
.pitch-post-list .blog-listing .post-left-area .date-area .date{font-size: 22px; line-height: 30px;}
.pitch-post-list .blog-listing .post-left-area .date-area .month{font-size: 16px;}
.pitch-post-list .blog-listing .post-rgt-area {width: 450px;}
.pitch-post-list .blog-listing .post-rgt-area .post-info-area p, .pitch-post-list .blog-listing .post-rgt-area .post-content p {margin-bottom: 5px;line-height: 25px;}

.pitch-post-list .blog-listing .post-rgt-area .comment-area .form-rgt {margin: 0;}


.faq-div #accordion.ui-accordion .ui-accordion-content {padding: 0.8em 1em;}
.faq-div #accordion.ui-accordion .ui-accordion-content {font-size: 15px;line-height: 24px;}


.contact-form input{height: 40px;}
.contact-form {padding: 30px;}
.contact-form .field.name span.icon,.contact-form .field.email span.icon,.contact-form .field.subject span.icon,.contact-form .field.message span.icon{height: 40px; background-size: 25px 25px;}
.contact-form textarea{height: 156px;}
.contact-form .form-submit{margin-top: 15px;}


.common-div.search-result .common-div.search-result-list h2 {font-size: 20px;line-height: 21px;}

.foot-block-1 .copyright{display: none;}
.copyright-div{display: inline-block; width: 100%;}

.registration-div .wppb-register-user .wppb-form-field > span.wppb-form-error{margin-left: 0}

.edit-postbox h3 span.title span.name {width: 77%;font-size: 14px;}


#book-filter select,#book-filter input,#book-filter input[type="submit"]{height: 40px;}
#book-filter select{width: 30%; margin-bottom: 10px;}
#book-filter select#count{margin-right: 0}
#book-filter input,#book-filter input[type="submit"]{width: 30%;}.home-blog-sec .post-grp .post:nth-child(2n) {	margin-left: 24px;}.home-blog-sec .post-grp .post:nth-child(2n+1) {	margin-left: 0px;}.home-blog-sec .post-grp .post {	width: 379px;}.home-blog-sec .post-grp .post {	margin-bottom:  24px ;	}
}
@media screen and (max-width: 810px) {
.container{width:750px;} 
.h-logo img {max-width: 100%;}
.slider .home_slider .text-on-image {width: 460px;}
.slider .home_slider .text-on-image .text-box {height: 280px;}
/*.authors-container .author-div, .authors-container .agent-div {width: 360px;}*/
.slider {margin-bottom: 20px;}
.authors-container {margin-bottom: 20px;}
.post-lft {width: 67px;}
.post-con h2 {font-size: 21px;margin: 8px 0 15px 0;line-height: 24px;}
.pop-post .post-img .overlay span {font-size: 13px;width: 120px;height: 36px;padding: 10px 0 0 0;margin: -18px auto 0;}
.post-img .overlay span {width: 158px;height: 48px;font-size: 16px;padding: 13px 0 0 0;}
.foot-block-2 {width: 217px;}
.foot-block-2 ul li {line-height: 28px;}
.foot-block-3 ul li .ft-post-con h3 {font-size: 14px;line-height: 19px;margin-top: -3px;}
.foot-block-3 ul li {padding-bottom: 16px;margin-bottom: 17px;}
.foot-block-3 {padding-right: 30px;}

.page-title-wrapper h1 {font-size: 28px;}
.page-title-wrapper {margin-bottom: 18px;}


.registration-div .wppb-user-forms ul li {width: 335px;}
.registration-div .form-submit .submit{width: 100%;}


.pitch-post-list {width: 100%; margin-bottom: 25px;}
.pitch-post-list .blog-block:last-child{margin-bottom: 0}
.pitch-authors-container {width: 40%;float: none;display: inline-block;}
.pitch-post-list .blog-listing .post-rgt-area {width: 680px;}


.common-div.search-result .common-div.search-result-list h2 {font-size: 21px;margin: 0px 0 15px 0;line-height: 24px;}
.common-div.search-result .common-div.search-result-list{padding: 30px;}

.error404 .common-div p,.common-div .thank-div p{font-size: 15px;line-height: 22px;}.home-blog-sec .post-grp .post {	width: 363px;}
}
@media screen and (max-width: 767px) {
.container{width:620px;}
/*.authors-container .author-div, .authors-container .agent-div {width: 300px;}*/
.authors-container h2 {line-height: 25px;letter-spacing: 0.15em;font-size: 13px;}
.authors-container ul .owl-nav div.owl-prev{margin-right: 15px;}
.authors-container ul .owl-nav div {height: 15px;width: 9px;}
.col-lft {width: 100%;}
.col-rgt {width: 230px;}
.col-rgt {width: 100%;}
.post-grp .post{padding:10px;}
.side-block.pop-post-block{float: left; width: 48%;}
.side-block.pop-twit-block{float: right; width: 48%;}
.side-block.insta-feeds-block{float: right; width: 48%;}
.subscribe-form {width: 60%;float: none;display: inline-block;}
.footer-main{text-align: center;}
.foot-block-3{text-align: left; float: none; display: inline-block; vertical-align: top;}
.foot-block-2 {width: 100%;float: none;display: inline-block; margin-right: 0; padding-right: 0; margin-bottom: 25px;}
.foot-block-4{text-align: left; float: none;display: inline-block; vertical-align: top;}
.foot-block-2 ul li{width: auto; float: none; display: inline-block; margin-right: 0;}
.foot-block-2 ul li:after{content: "|"; margin: 0 5px; color: #a8a8a8}
.foot-block-2 ul li:last-child:after{content: ""; margin: 0px;}
.foot-block-2 ul li:last-child{margin-right: 0;}
.ft-subscribe-form {margin-top: 11px;}
.ft-subscribe-form input[type="submit"]{height: 40px;}
.footer-main h5{margin-bottom: 5px;}
.foot-block-1{margin-bottom: 20px;}
.close-search{width: 14px; height: 14px;}
.search_box{height: 116px;}
.h-search .search-form {width: 70%;margin-left: -35%;margin-top: -35px;}
.welcome-container h1 {font-size: 26px;margin-bottom: 17px;}


.page-title-wrapper h1 {font-size: 26px;}
.page-title-wrapper {margin-bottom: 16px;}
.login-div #loginform p.login-submit .button{width: 270px;}
.login-div #loginform p.login-submit {margin-top: 10px;margin-bottom: 15px;}
.middle-container {padding: 2px 0 34px 0;}

.forgot-div p.form-submit {margin-top: 10px;margin-bottom: 15px;}
.forgot-div p.form-submit .button{width: 270px;}

.registration-div .wppb-user-forms ul li {width: 275px;}
.registration-div .wppb-user-forms ul li.wppb-recaptcha {margin-top: 7px;margin-bottom: 0;}
.wppb-recaptcha-element {transform:scale(0.88); -webkit-transform: scale(0.88); transform-origin:0 0; -webkit-transform-origin:0 0;}


.blog-single-container .post-content h2 {font-size: 23px;line-height: 26px;margin-bottom: 13px;}
.blog-single-container .col-lft {margin-bottom: 20px;}


.blog-user{padding:0 10px 25px;}
.related-articles{padding:25px 10px;}
.related-articles h3{margin:0 0 15px 0;}
.prev-next{padding:20px 10px;}
.comment-area h3{margin:0 0 15px 0;}
.comment-area .form-row label{font-size:15px;}
.comment-area .form-row{margin:0 0 15px 0;}
.comment-area .form-lft{width:49%;}
.comment-area .form-rgt{margin:0; width:49%;}
.comment-area .form-lft input{height:35px; padding:0 10px;}
.comment-area .form-rgt textarea{height:111px; padding:10px;}
.comment-area .form-row input[type="submit"]{margin:15px 0 0 0;}
.html-tag h6{font-size:14px;}
.html-code{font-size:13px;}


.pitch-post-div .postbox, .edit-postbox-area {width: 100%;padding: 26px 20px 25px 20px;}
.pitch-post-div .postbox{margin-bottom: 20px;}
.pitch-post-div .postbox label {width: 25%;padding: 13px 10px 0 0;margin-bottom: 0;}
.pitch-post-div .postbox .control {width: 73%;}
.pitch-post-div .postbox .form-submit {padding-left: 27%;}

.pitch-post-list .blog-listing .post-rgt-area {width: 550px;}
.pitch-post-list .blog-listing .post-rgt-area h2 {font-size: 18px;line-height: 22px;margin-bottom: 10px;}
.pitch-authors-container{width: 45%;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area .form-rgt textarea {height: 193px;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area h3{font-size: 17px;}


.contact-form {padding: 30px 20px;}
.contact-form .field.name span.icon, .contact-form .field.email span.icon, .contact-form .field.subject span.icon, .contact-form .field.message span.icon{width: 15%;}
.contact-form .field .control {width: 85%;}
.contact-form .form-submit input[type="submit"] {width: 274px;height: 40px;font-size: 16px;}

.common-div.search-result .common-div.search-result-list {padding: 25px;}


.edit-postbox h3 .title:before{margin-right: 7px;}
#book-filter select {width: 31%;margin-bottom: 10px;}
#book-filter input, #book-filter input[type="submit"] {width: 48%;}.home-content-left,.home-content-rgt {	float: left;	width: 100%;	padding-right: 0;padding-left:0}.home-blog-sec .post-grp .post {	width: 298px;}.home-blog-sec .post-con .post-date::before {		margin: 0 8px 0 8px;}
}
@media screen and (max-width: 639px) {
.container{width:548px;}
.header {margin-bottom: 10px;}
.slider .home_slider .text-on-image .text-box {height: 230px;}
.authors-container .author-div{margin-bottom: 20px;}
.authors-container .author-div, .authors-container .agent-div {width: 100%;}
.post-con {width: 86%;}
.post-lft {width: 71px;}
.pop-post li {margin: 10px 0 0 0;}
.welcome-container h1 {font-size: 24px;margin-bottom: 14px;}



.middle-container .content-div .login-div #loginform .input {width: 332px;}
.middle-container .content-div .login-div #loginform label{font-size: 14px;}

.middle-container .content-div .forgot-div .text-input {width: 332px;}
.middle-container .content-div .forgot-div label{font-size: 14px;}
.forgot-div p {font-size: 14px;line-height: 22px;}

.registration-div .wppb-form-field label{font-size: 14px;}
.registration-div .wppb-user-forms ul li {width: 100%;}
.registration-div ul li#wppb-form-element-20{width: 100%; margin: 0 0 15px 0;}
.registration-div .wppb-user-forms ul li.form-submit{width: 100%;}

.blog-single-container .post-content h2 {font-size: 21px;line-height: 26px;margin-bottom: 13px;}
.blog-single-container .post-content p {font-size: 15px;line-height: 24px;margin-bottom: 12px;}


.bio-container .col-lft p,.bio-container .col-lft{font-size: 15px;line-height: 24px;}
.bio-container .col-lft p{margin-bottom: 12px;}


.user-img{width:80px;}
.user-detail{margin:0 0 0 12px;}
.user-detail h5{font-size:20px;}
.user-connect{margin:12px 0 0 0;}
.user-connect li{padding:0 10px 0 18px;}
.related-articles h3{font-size:19px;}
.comment-area h3{font-size:19px;}
.comment-area .commnt-img {width: 18%;}
.comment-area .commnt-body {width: 80%;}
.blog-single-container .post-grp{margin-bottom: 20px;}


.pitch-post-div .postbox label,.edit-postbox form .field label{font-size: 14px; line-height: 19px;}
.edit-postbox form .field label {margin-bottom: 4px;margin-top: 8px;}
.edit-postbox form{padding-left:  0}
.edit-postbox h3{padding-left: 0}
.pitch-post-div .postbox .form-submit input[type="submit"]{height: 40px; font-size: 16px;}

.pitch-post-list .blog-listing .post-rgt-area {width: 480px;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area, .pitch-post-list .blog-listing .post-rgt-area .post-top {padding: 15px;}
.pitch-post-list .blog-listing .post-rgt-area .post-info-area p, .pitch-post-list .blog-listing .post-rgt-area .post-content p {margin-bottom: 9px;line-height: 22px;font-size: 14px;}
.pitch-post-list .blog-block{margin-bottom: 15px;}
.pitch-authors-container {width: 50%;}


.rules-div p {font-size: 14px;margin-bottom: 15px;line-height: 22px;}
.rules-div ul li, .rules-div ol li {font-size: 14px;line-height: 22px;margin-bottom: 10px;}


.contact-form .form-lft,.contact-form .form-rgt {float: left;width: 100%;}
.contact-form .field{margin-bottom: 10px;}
.contact-form .field.name span.icon, .contact-form .field.email span.icon, .contact-form .field.subject span.icon, .contact-form .field.message span.icon {width: 10%;}
.contact-form .field .control {width: 90%;}


.registration-div .wppb-register-user .wppb-form-field,.registration-div .wppb-register-user .wppb-recaptcha.wppb-field-error.wppb-form-field > span.wppb-form-error {text-align: left;}
.registration-div .wppb-register-user .wppb-form-field > span.wppb-form-error {margin-left: 0;float: left;width: 100%;margin-bottom: 5px;font-size: 14px; text-align: left;}.home-blog-sec .post-con {	width: 100%;}.home-blog-sec .post-grp .post {	width: 100%;}.home-blog-sec .post-grp .post:nth-child(2n) {	margin-left: 0;}.home-blog-sec .post-con p {	min-height: inherit;	margin: 0;}.pro-head h3 {		font-size: 26px;	}.view-url {		margin-top: 8px;}
}
@media screen and (max-width: 567px) {
.container{width:400px;}
.slider .home_slider .text-on-image {width: 100%;}
.slider .home_slider .text-on-image .text-box {height: 190px;}
.side-block.pop-post-block,.side-block.pop-twit-block,.side-block.insta-feeds-block,.side-block.newsletter {width: 77%;float: none;display: inline-block; padding: 10px 20px; margin-bottom: 20px;}
.subscribe-form {width: 100%;}
.foot-block-3 {text-align: center;float: none;display: inline-block;vertical-align: top;width: 100%;padding-right: 0; margin-right: 0; margin-bottom: 20px;}
.foot-block-3 ul {float: none;width: 70%;display: inline-block;}
.foot-block-3 ul li .ft-post-con{text-align: left;}
.foot-block-4{text-align: center;}
.post-con {width: 100%;}
.footer {padding: 30px 0;margin: 20px 0 0 0;}
.date-num{font-size:18px;}
.date-month{font-size:13px;}
.post-comment, .post-like{margin:0;}
.post-lft-btm p{width:auto; margin:0 0 0 5px;}
.post-lft{width:100%; text-align: left;}
.post-lft-btm{float:none; display:inline-block; vertical-align:middle; width:245px;}
.post-view, .post-comment, .post-like{width:auto; margin:0 0 0 15px;}
.post-lft-btm{padding:0;}
.post-con{width:100%; padding:0px;}
.post-con h4{font-size:13px;}
.simplefavorite-button.has-count{width: auto;}
.post-con h2{font-size: 19px;}
.post-con .post-det {margin-bottom: 8px;}
.addtoany_shortcode a {width: 51px;}
.side-block.pop-post-block, .side-block.pop-twit-block, .side-block.insta-feeds-block, .side-block.newsletter {width: 285px;float: none;display: inline-block;padding: 10px 20px;margin-bottom: 15px;}
.foot-block-4 ul li {float: none;display: inline-block;}
.welcome-container h1 {font-size: 22px;}
.welcome-container .desc p {font-size: 15px;line-height: 24px;margin: 0 0 10px 0;}


.middle-container .content-div .login-div #loginform .input {width: 100%;}
.middle-container .content-div .login-div #loginform label {line-height: 20px;width: 100%;padding: 0;margin-bottom: 6px;}
.login-div #wppb-login-wrap p {margin-bottom: 12px;}
.middle-container .content-div .login-div {padding: 18px;}
.login-div #loginform p.login-submit .button {width: 100%;font-size: 15px;height: 40px;}
.middle-container .content-div .login-div #loginform .input {height: 35px;}
.login-div #loginform p.login-submit {margin-top: 10px;margin-bottom: 10px;}
.page-title-wrapper h1 {font-size: 24px;}


.middle-container .content-div .forgot-div .text-input {width: 100%; height: 35px}
.middle-container .content-div .forgot-div label {line-height: 20px;width: 100%;padding: 0;margin-bottom: 6px;}
.forgot-div p {margin-bottom: 12px;}
.middle-container .content-div .forgot-div {padding: 18px;}
.forgot-div p.form-submit .button {width: 100%;font-size: 15px;height: 40px;}
.forgot-div p.form-submit {margin-top: 10px;margin-bottom: 10px;}


.registration-div input.text-input,.registration-div input.extra_field_input{height: 35px; width: 100%;}
.registration-div .wppb-form-field label{line-height: 20px;width: 100%;padding: 0;margin-bottom: 6px;}
.registration-div .wppb-user-forms ul li {width: 100%;}
.middle-container .content-div .registration-div {padding: 18px;}
.registration-div .form-submit .submit {width: 100%;font-size: 15px;height: 40px;}


.blog-single-container .post-content {padding: 15px 20px 18px 20px;}
.blog-single-container .post-content h2 {font-size: 19px;line-height: 24px;margin-bottom: 13px;}
.post-content .post-det {margin: 0 0 12px 0;}
.post-content h3 {font-size: 18px;margin: 0 0 12px 0;line-height: 20px;}
.post-content .arrow-ol,.post-content .arrow-ul {margin-bottom: 9px;}
.blog-single-container .addtoany_shortcode {margin-top: 10px;}
.blog-single-container .addtoany_shortcode .addtoany_list a{width: 66px;}


.blog-user{padding:0 0 18px 0;}
.user-img{width:70px;}
.user-detail h5{font-size:18px;}
.related-articles{padding:20px 0;}
.related-articles h3{font-size:18px; margin:0 0 10px 0;}
.prev-next{padding:15px 0;}
.prev-next-btn li div{width:30px; height:30px;}
.prev-next-btn li{padding:0 20px;}
.comment-area h3{font-size:18px; margin:0 0 10px;}
.comment-area .form-lft{width:100%;}
.comment-area .form-rgt{width:100%; margin:12px 0 0 0;}
.comment-area .form-row{margin:0 0 12px 0;}
.comment-area .form-row label{margin:0 0 5px 0;}
.html-tag{margin:15px 0 0 0;}
.html-code{margin:8px 0 0 0;}
.comment-area .form-lft input{font-size:14px;}
.comment-area .form-rgt textarea{height:90px; font-size:14px;}
.html-tag h6{font-size:13px;}
.comment-area .form-row input[type="submit"]{width: 100%;}


.pitch-post-div .postbox label {width: 100%;padding: 0;margin-bottom: 3px;}
.pitch-post-div .postbox .control {width: 100%;}
.pitch-post-div .postbox .form-submit {padding-left: 0;}
.edit-postbox-area h2 {font-size: 19px;margin-bottom: 10px;}
.pitch-post-div .postbox select,.pitch-post-div .postbox input {height: 35px; font-size: 14px;}
.edit-postbox form .field select, .edit-postbox form .field input{height: 35px; font-size: 14px;}
.edit-postbox form .field textarea{font-size: 14px;}
.edit-postbox form .form-submit input[type="submit"]{width: 100%;}
.pitch-post-div .postbox, .edit-postbox-area {width: 100%;padding: 15px;}
.pitch-post-div .postbox .form-submit input[type="submit"] {font-size: 14px;}


.pitch-post-list .blog-listing .post-left-area {width: 100%;text-align: center;}
.pitch-post-list .blog-listing .post-left-area .date-area .month {font-size: 16px;display: inline-block;vertical-align: middle;line-height: 22px;}
.pitch-post-list .blog-listing .post-left-area .date-area .date {font-size: 16px;line-height: 22px; display: inline-block; vertical-align: middle;}
.pitch-post-list .blog-listing .post-left-area .date-area{padding: 7px 0}
.pitch-post-list .blog-listing .post-rgt-area {width: 100%;}
.pitch-authors-container {width: 80%;}

.faq-div #accordion.ui-accordion .ui-accordion-header{font-size: 15px;}
.faq-div #accordion.ui-accordion .ui-accordion-content {font-size: 14px;line-height: 22px;}

.contact-form input {height: 35px;}
.contact-form .field.name span.icon, .contact-form .field.email span.icon, .contact-form .field.subject span.icon, .contact-form .field.message span.icon{height: 35px}
.contact-form .form-submit input[type="submit"] {width: 100%;height: 40px;font-size: 15px;}
.contact-form .form-submit {margin-top: 5px;}

.common-div.search-result .common-div.search-result-list h2{font-size: 19px;}
.common-div.search-result .common-div.search-result-list {padding: 20px;}

.forgot-div div.error{margin-left: 0}
.welcome-container {padding: 20px 0;}


#book-filter input,#book-filter select {width: 100%;margin-bottom: 10px;}
#book-filter input[type="submit"] {width: 100%;}
#book-filter input[type="submit"]{font-size: 16px;}

#book-filter input, #book-filter select{height: 35px;}
}
@media screen and (max-width: 413px) {
.container{width:340px;}
.slider .home_slider .text-on-image .text-box {height: 160px;}
.foot-block-3 ul {width: 90%;}
.foot-block-1 .desc {margin-bottom: 11px;}
.foot-block-1 .copyright{line-height: 21px;}
.foot-block-2 ul li {line-height: 25px;}
.foot-block-2{margin-bottom: 20px;}
.footer-main .foot-block-4 h5 {margin-bottom: 14px;}
.addtoany_shortcode .addtoany_list a {width: 52px;margin-right: 4px;}
.post-con .post-date::before {margin: 0 10px 0 9px;}

.page-title-wrapper h1 {font-size: 20px;line-height: 25px;}

.post-con .postby {width: 100%;	margin: 0 0 10px 0;}
.post-con .post-date::before {display: none;}


.post-con h2 {font-size: 17px;line-height: 22px;}
.post-content .postby {width: 100%;	margin: 0 0 10px 0;}
.post-content .post-date::before {display: none;}
.blog-single-container .addtoany_shortcode .addtoany_list a {width: 49px;margin-right: 3px;}
.blog-single-container .addtoany_shortcode {margin-top: 0;}
.blog-single-container .post-content {padding: 15px;}
.blog-single-container .post-content h2 {font-size: 18px;line-height: 22px;margin-bottom: 13px;}
.blog-single-container .post-content p {font-size: 14px;line-height: 22px;margin-bottom: 12px;}
.post-content h3 {margin: 0 0 9px 0;}
.post-content .arrow-ul li {background-position: left 7px;font-size: 14px;line-height: 22px;padding-left: 9px;margin-bottom: 7px;background-size: 4px 8px;}
.post-content .arrow-ol li {font-size: 14px;line-height: 22px;margin-bottom: 7px;}

.bio-container .col-lft p,.bio-container .col-lft {font-size: 14px;line-height: 22px;}
.bio-container .col-lft p{margin-bottom: 12px;}


.user-detail h5{font-size:17px;}
.user-detail{margin:0 0 0 10px;}
.related-articles h3{font-size:17px;}
.comment-area h3{font-size:17px;}
.html-tag h6{line-height:15px;}
.comment-area .form-row input[type="submit"]{height:35px; width:100%;}
.user-connect li{padding:0 7px 0 15px;}
.related-articles ul li {padding: 0 0 0 11px;line-height: 22px;background-size: 4px 8px;background-position: left 8px; font-size: 14px;}
.comment-area .commnt-body {width: 100%;margin-top: 7px;}
.comment-area ul li{border-bottom: 1px solid #ddd; margin-bottom: 15px}
.comment-area ul li:last-child{border-bottom: 0; margin-bottom: 0}
.comment-area .commnt-img {width: 25%;}

.pitch-post-list .blog-listing .post-rgt-area h2 {font-size: 16px;}
.pitch-post-list .blog-listing .post-rgt-area .post-cmment-count {width: 100%;}
.pitch-authors-container {width: 100%;}

.contact-form .field.name span.icon, .contact-form .field.email span.icon, .contact-form .field.subject span.icon, .contact-form .field.message span.icon {width: 14%;}
.contact-form .field .control {width: 86%;}

.common-div.search-result .common-div.search-result-list h2 {font-size: 17px;line-height: 22px;}
.copyright-div span{display: block;}


.registration-div .wppb-recaptcha-element {float: left;text-align: left;}
.registration-div .wppb-recaptcha-element{float: left; width: 100%; }
.registration-div .wppb-register-user .wppb-recaptcha {text-align: left;}

.welcome-container h1 {font-size: 20px;margin-bottom: 14px;}

.edit-postbox h3 span.title span.name {width: 76%;font-size: 14px;}
#book-filter input[type="submit"] {width: 100%;}.inner-blog-sec {		padding: 40px 0 0px;}
}


@media screen and (max-width: 370px) {
.container{width:320px;}
.wppb-recaptcha-element {transform:scale(0.93); -webkit-transform: scale(0.93); transform-origin:0 0; -webkit-transform-origin:0 0;}
.registration-div .wppb-user-forms ul li.wppb-recaptcha{margin-bottom: 0;}
}
@media screen and (max-width: 340px) {
.container{width:300px;}
.wppb-recaptcha-element {transform:scale(0.88); -webkit-transform: scale(0.88); transform-origin:0 0; -webkit-transform-origin:0 0;}
}