@charset "utf-8";

/*Other CSS [START]*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url(reset.css);
@import url(animate.css);
@import url(font-awesome.css);
@import url(owl.carousel.min.css);
@import url(jquery.mmenu.all.css);

select::-ms-expand {display: none;}
/*

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'lucida_brightdemibold';

*/

@font-face {
font-family: 'lucida_brightdemibold';
src: url('../fonts/lbrited-webfont.eot');
src: url('../fonts/lbrited-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lbrited-webfont.woff2') format('woff2'),
url('../fonts/lbrited-webfont.woff') format('woff'),
url('../fonts/lbrited-webfont.ttf') format('truetype'),
url('../fonts/lbrited-webfont.svg#lucida_brightdemibold') format('svg');
font-weight: normal;
font-style: normal;

}
body{background: #f4f4f4;}
.header{float: left; width: 100%; background: url(../images/header-bg.png) no-repeat; margin-bottom: 20px;}
.inner-header{float: left; width: 100%;}
.head-top{ float: left; width: 100%; background:rgba(54,176,227,0.75); padding: 27px 0 31px 0;}
.head-top .container{position: relative;}
.menu-div{background: rgba(9,77,110,0.7); float: left; width: 100%;}
.search_box { background: #fff; box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.4); display: none; float: left;  height: 136px; left: 0; position: fixed;top: 0;width: 100%; z-index: 99999;}
.h-search .search-form {width: 80%;position: absolute;top: 50%;left: 50%;margin-left: -40%;margin-top: -25px; position: relative;}
.close-search {width: 20px;height: 20px;position: absolute;top: 20px;right: 20px;background: url("../images/close.png") no-repeat center;background-size: 100% auto;cursor: pointer; display: none;}
.search_box .close-search{display: inline-block;}
.h-search .search-form input[type="search"] {width: 100%;float: left;background: none;color: #000;padding: 0 5px;height: 50px;border: none;border-bottom: 1px solid #3399cc;font-size: 18px;font-weight: 300;}
.h-logo{display: inline-block; width: auto;}
.h-search {float: right;margin-top: -13px;position: absolute;right: 0;top: 50%;}
.h-search .search-btn{background: url(../images/h-serach-icon.png) no-repeat left center; font-size: 15px; text-transform: uppercase; color: #fff; font-weight: 400; line-height: 27px; padding-left: 27px; cursor: pointer;}
.h-search .search-form .search-submit {background: transparent url(../images/search-btn.png) no-repeat center center;border: 0;position: absolute;right: 0;top: 0;height: 50px;text-indent: -99999px;width: 32px;}

.desktop-menu{float: left; width: 100%; font-size: 0;}
.desktop-menu ul{display: inline-block;}
.desktop-menu ul li{float: left; margin-right: 27px;}
.desktop-menu ul li:last-child{margin-right: 0;}
.desktop-menu ul li a{float: left; width: auto; font-size: 15px; font-weight: 600; color: #fff; line-height: 39px; padding:4px 0 8px 0; position: relative;}
.desktop-menu ul li a::before {content: "";transition: 0.5s all ease;position: absolute;bottom: 0;height: 6px;width: 0;background: #49b1dd;left: 50%;z-index: 9999;-webkit-transform: translateX(-50%);
transform: translateX(-50%);}
.desktop-menu ul li a:hover::before,.desktop-menu ul li.current_page_item a::before {width: 100%;}
.mobile-menu{display: none;}
.mobile-menu ul{display: none;}

.slider{float: left; width: 100%; margin-bottom: 40px;}
.slider .home_slider{float: left; width: 100%;}
.slider .home_slider li{float: left; width: 100%; background-repeat: no-repeat; background-position: center center;}
.slider .home_slider .text-on-image{display: table; table-layout: fixed; vertical-align: middle; text-align: center; width: 680px; float: right;}
.slider .home_slider .text-on-image .text-box{display: table-cell; width: 100%; vertical-align: middle; text-align: center; height: 423px;}
.slider .home_slider.owl-carousel .owl-item img {display: inline-block;width: auto;vertical-align: middle; max-height: 100%; height: auto; max-width: 100%;}


.authors-container{float: left; width: 100%; margin-bottom: 40px;}
.authors-container .author-div{float: none; width: 580px; background: #ffffff; padding: 17px 32px 59px 32px; text-align: left; display: inline-block;}
.authors-container .agent-div{float: right; width: 580px; background: #ffffff; padding: 17px 32px 59px 32px; text-align: left;}
.authors-container h2{text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 14px; color: #222; line-height: 39px; letter-spacing:0.26em; margin-bottom: 14px;}
.authors-container ul li{text-align: center; float: left; width: 100%;}
.authors-container ul li .auth-img{display: table; table-layout: fixed; vertical-align: middle; width: 100%; margin-bottom: 6px;}
.authors-container ul li .auth-img span{display: table-cell; height: 124px; width: 100%; vertical-align: middle; text-align: center;}
.authors-container ul li .auth-img span img{display: inline-block; vertical-align: middle; width: auto; height: auto; max-height: 100%;}
.authors-container ul li .name{float: left; width: 100%; font-size: 14px; color: #000; line-height: 19px; text-transform: capitalize;}
.authors-container ul{position: relative;}
.authors-container ul .owl-nav{position: absolute; right: 0; top: -42px;}
.authors-container ul .owl-nav div{height: 17px; width: 11px; display: inline-block; opacity:0.3; text-indent: -99999px; background-position: center center; background-repeat: no-repeat;}
.authors-container ul .owl-nav div.owl-prev{background-image: url(../images/auth-prev-icn.png); margin-right: 25px;}
.authors-container ul .owl-nav div.owl-next{background-image: url(../images/auth-next-icn.png);}
.authors-container ul .owl-nav div.owl-prev:hover,.authors-container ul .owl-nav div.owl-next:hover{opacity:1;}

.welcome-container{float: left; width: 100%; background: #fff; border-top: 1px solid #dbdbdb; padding: 50px 0;}
.welcome-container .welcome-div{float: left; width: 100%;}
.welcome-container h1{font-family: 'lucida_brightdemibold';font-size: 34px;color: #000; margin-bottom: 35px;}
.welcome-container .desc{float: left; width: 100%}
.welcome-container .desc p{width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left;margin: 0 0 24px 0;}
.welcome-container .desc p:last-child{margin-bottom: 0}

.blog-container{float: left; width: 100%;}
.blog-container .col-2{float: left; width: 100%;}
.col-lft{width:874px; float:left;}
.post-grp{width:100%; float:left;}
.post-grp .post{width:420px; float:left; margin:0 0 34px 0;background:#fff; padding:20px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.post-grp .post:nth-child(2n+1){clear: both;}
.post-grp .post:nth-child(even){margin-left: 34px}
.post-comment > a:hover i, .post-comment > a:hover p, .simplefavorite-button:hover i, .simplefavorite-button:hover span {color: #3399cc;}

.post-comment{width:auto; float:right; font-size:14px;}
.post-comment i{display:inline-block; vertical-align:middle; color:#555555; margin-right: 7px; font-size: 14px;}
.post-comment span{display:inline-block; vertical-align:middle; color:#7f7f7f; font-size: 14px}
.post-con{width:100%; float:right;}
.post-con h4{width:100%; float:left; text-align:left; text-transform:uppercase; letter-spacing:2.6px; font-family: 'Roboto', sans-serif; font-size:14px; font-weight:700; color:#222222;}
.post-con h4 a{color: #222;}
.post-con h4 a:hover{color: #3399cc;}
.post-con h2 {width: 100%;float: left;text-align: left;font-family: 'lucida_brightdemibold';font-size: 24px;margin: 0 0 10px 0;line-height: 29px;min-height: 60px;}
.post-con h2 a{color: #000}
.post-con h2 a:hover{color:#3399cc;}
.post-con .post-det{float: left; width: 100%;margin:0 0 22px 0;}
.post-con .post-date{float: left; width: auto; font-size: 14px; color: #4c4c4c;} 
.post-con .post-date:before{content: "|"; margin: 0 15px 0 14px; display: inline-block;}
.post-con .postby{width:auto; float:left; text-align:left; font-size:14px; color:#4c4c4c; margin:0;}
.post-img{width:auto; display:inline-block; max-width:100%; margin:0; position:relative; margin-bottom: 21px;}
.post-img .overlay{width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(51, 153, 204, 0.7); opacity:0; -webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; 
transition:all .3s ease-in;}
.post-img .overlay span{color:#fff; margin:-29px auto 0; position:absolute; width:178px; height:58px; left:0; right:0; top:50%; bottom:0; font-size:18px; font-weight:700; letter-spacing:2.6px; border:2px solid #fff; border-radius:2px; font-family: 'Roboto', sans-serif; text-transform:uppercase; padding:18px 0 0 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; 
transition:all .3s ease-in;}
.post-img:hover .overlay{ opacity:1;}
.post-img .overlay span:hover{background:#fff; color:#3399cc;}
.post-con p{width:100%; float:left; font-size:16px; line-height:28px; color:#4c4c4c; text-align:left; margin:0 0 24px 0; min-height: 168px;}
.pagination{width:100%; float:left; margin:10px 0 0 0;}
.pagination li{float:none; display:inline-block; vertical-align:middle; width:41px; height:41px; border-radius:50%;  font-size:14px; font-weight:700; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.pagination li a{color:#747474; display:block; width:100%; height:100%; padding:12px 0 0 0; border-radius:50%;  background:#e9e9e9; color:#747474; border:1px solid #bdbdbd; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.pagination li a:hover{color:#fff; background:#3399cc; border:1px solid #0d908f;}
.pagination li.current a{color:#fff; background:#3399cc; border:1px solid #0d908f;}
.pagination li.next a{background:#e9e9e9 url(../images/page-next.png) no-repeat center center;}
.pagination li.next a:hover{background:#3399cc url(../images/page-next-hov.png) no-repeat center center;}
.pagination li.prev a{background:#e9e9e9 url(../images/page-prev.png) no-repeat center center;}
.pagination li.prev a:hover{background:#3399cc url(../images/page-prev-hov.png) no-repeat center center;}
.simplefavorite-button.has-count {margin: 0;padding: 0;background: none;float: left;line-height: 1;text-align: left;width: 60px;}
.simplefavorite-button.has-count i {float: none;display: inline-block;vertical-align: top;}
.simplefavorite-button-count {float: none;display: inline-block;vertical-align: top;line-height: 1;padding: 0 0 0 3px; color: #7f7f7f;}
.post-view {width: 100%;float: left;font-size: 14px; text-align: left; color: #7f7f7f;}
.post-view .post-views {display: inline-block;vertical-align: middle;color: #7f7f7f; padding-left: 7px;}
.addtoany_shortcode{float: left; width: 100%; text-align: left; margin-bottom: 5px;}
.addtoany_shortcode .addtoany_list a{margin-right: 5px; height: 22px; padding: 0; vertical-align: top;}

.addtoany_list a > span{margin-top: 1px;}

.col-rgt{width:286px; float:right;}
.side-block{width:100%; float:left; background:#fff; margin:0 0 44px 0; border:1px solid #e6e6e6; padding:20px; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.side-block:after{position:absolute; width:100%; height:4px; background:url(../images/side-block-bg.png) no-repeat center; left:0; bottom:-5px; content:'';}
.sidebar-title{width:100%; float:left; font-size:14px; font-weight:700; color:#222222; border-bottom:1px solid #dddddd; padding:13px 0 10px; text-transform:uppercase; letter-spacing:3.5px; font-family: 'Roboto', sans-serif;}
.pop-post{width:100%; float:left; margin:5px 0 0 0;}
.pop-post li{width:100%; float:left; margin:20px 0 0 0;}
.pop-post .post-img{margin:0; float:left; width:100%;}
.pop-post .post-img img{display:inline-block;}
.pop-post .post-img .overlay span{border:1px solid #fff; font-size:15px; width:140px; height:42px; padding:13px 0 0 0; margin:-21px auto 0;}
.pop-post .post-img .overlay span a{color: #fff;}
.pop-post .post-img .overlay span:hover a{color: #3399cc;}
.pop-post-con{width:100%; float:left; background:#f4f4f4; margin:-2px 0 0 0; padding:10px 10px 14px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.pop-post-con h3{width:100%; float:left; font-size:15px; font-family: 'lucida_brightdemibold'; line-height:18px;}
.pop-post-con h3 a:hover{color:#3399cc;}
.pop-post-btm{width:100%; float:left; color:#7a7a7a; font-size:14px; margin:8px 0 0 0;}
.pop-date{display:inline-block; vertical-align:middle; width:auto;}
.pop-date i{font-size:6px; margin:0 0 0 9px;}
.pop-comm{display:inline-block; vertical-align:middle; width:auto; margin:0 0 0 6px;}
.pop-comm i{margin:0 6px 0 0;}
.pop-post-btm i, .pop-post-btm p{display:inline-block; vertical-align:middle;}
.twt-link{width:auto; float:left; font-size:14px; color:#3399cc; font-weight:700; margin:21px 0 11px;}
.twt-link:hover{color:#222222;}
.insta-feeds{width:100%; float:left; margin:22px 0 5px; font-size: 15px; line-height: 20px;}
.newsletter p{width:100%; float:left; text-align:left; font-size:15px; line-height:23px; color:#585858; margin:20px 0 0 0;}
.newsletter .subscribe-form p{margin-top: 0;}
.subscribe-form{width:100%; float:left; margin:15px 0 0 0;position: relative;}
.subscribe-form input{width:100%; height:44px; padding:0 15px; background:#eeeeee; font-family: 'Open Sans', sans-serif; color:#222222; font-size:15px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border: 0;}
.subscribe-form input[type="submit"]{background:#3399cc; color:#fff; font-size:14px; font-weight:700; padding:0; margin:4px 0 10px; text-transform:uppercase;font-family: 'Open Sans', sans-serif;}
.subscribe-form input[type="submit"]:hover{background:#222222;}
.subscribe-form .formError {top: 44px !important;left: 0 !important;}
.side-banner{width:100%; float:left;}


.pop-twit-block h4{margin-bottom: 5px;}
.pop-twit-block .twitter-timeline {width: auto;float: left;font-size: 14px;color: #3399cc;font-weight: 700;margin: 16px 0 11px;}
.insta-feeds-block .jr-insta-thumb ul.thumbnails li{margin: 0 0 2px 1px;}
.insta-feeds-block .jr-insta-thumb ul.thumbnails.jr_col_3 li {width: 32.93% !important;}

.footer{background: #1a4d66; float: left; width: 100%;padding: 62px 0 46px 0; margin-top: 0px;}
.footer-main{float: left; width: 100%; text-align: left;}
.foot-block-1{float: left; width: 352px; margin-right: 25px; padding-right: 63px;}
.foot-block-2{float: left; width: 284px; margin-right: 25px;}
.foot-block-3{float: left; width: 347px; margin-right: 25px; padding-right: 76px;}
.foot-block-4{float: left; width: 142px;}
.foot-logo{float: left; width: 100%; margin-bottom: 45px;}
.foot-logo a{float: left;}
.foot-block-1 .desc{float: left; width: 100%; color: #8da6b3; font-size: 14px; line-height: 24px; margin-bottom: 26px;}
.foot-block-1 .copyright{color: #5f8394; font-size: 12px; line-height: 24px; float: left; width: 100%;}
.foot-block-1 .copyright span{display: block;}
.foot-block-1 .copyright a{color: #5f8394;}
.foot-block-1 .copyright a:hover{color: #f4f4f4;}
.footer-main h5{float: left; width: 100%; font-size: 15px; font-weight: 700; color: #fff; text-transform: uppercase; line-height: 27px; margin-bottom: 11px;}
.foot-block-2 ul{float: left; width: 100%;}
.foot-block-2 ul li{float: left; width: 100%;line-height: 35px;}
.foot-block-2 ul li a{color: #a8a8a8; font-size: 14px; text-transform: capitalize;}
.foot-block-2 ul li a:hover{color: #8da6b3;}
.foot-block-3 ul{float: left; width: 100%;}
.footer-main .foot-block-4 h5{margin-bottom: 17px;}
.foot-block-3 p{color: #a8a8a8; font-size: 15px; line-height: 23px;}
.ft-subscribe-form{float: left; width: 100%; margin-top: 31px; position: relative;}
.ft-subscribe-form  .wysija-input{float: left; width: 100%; color: #fff; text-align: center; background: transparent; border-bottom: 1px solid #e9e9e9; font-size: 14px; height: 39px; border-left: 0; border-right: 0; border-top: 0; margin-bottom: 16px;}
.ft-subscribe-form input[type="submit"] {background: #3399cc;color: #fff;font-size: 14px;font-weight: 700;padding: 0;text-transform: uppercase;font-family: 'Open Sans', sans-serif; float: left; width: 100%; border: 0; height: 44px; margin-top: 0;}
.ft-subscribe-form input[type="submit"]:hover{background: #7ac1e4}
.ft-subscribe-form .formError {top: 39px !important;left: 0 !important;}
/*.foot-block-3 ul li{float: left; width: 100%; border-bottom: 1px solid #2f5d73; padding-bottom: 25px; margin-bottom: 23px;}
.foot-block-3 ul li:last-child{border-bottom: 0; padding: 0; margin: 0;}
.foot-block-3 ul li .ft-post-img{float: left; width: 67px;text-align: center; margin-right: 16px;}
.foot-block-3 ul li .ft-post-img a{float: left; width: 100%; text-align: center;}
.foot-block-3 ul li .ft-post-img a:hover{opacity:0.7}
.foot-block-3 ul li .ft-post-img a img{display: inline-block; vertical-align: middle; height: auto; width: auto; max-width: 100%; max-height: 100%;}
.foot-block-3 ul li .ft-post-con h3{font-size: 15px; line-height: 23px; margin-top: -6px;}
.foot-block-3 ul li .ft-post-con h3 a{color: #a5b9c3;}
.foot-block-3 ul li .ft-post-con h3 a:hover{color: #f4f4f4;}
.foot-block-3 ul li .ft-date{font-size: 12px; color: #7a7a7a; line-height: 32px;}*/
.foot-block-4 ul{float: left; width: 100%;}
.foot-block-4 ul li{float: left; width: 34px; margin-right: 3px;}
.foot-block-4 ul li:last-child{margin: 0;}
.foot-block-4 ul li a{display: inline-block; height: 34px; width: 34px; background-image: url(../images/sprite.png); background-repeat: no-repeat;-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;-ms-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;}
.foot-block-4 ul li a{display: inline-block; height: 34px; width: 34px; background-image: url(../images/sprite.png); background-repeat: no-repeat;-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;-ms-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;}
.foot-block-4 ul li.twit a{background: url(../images/twitter.png) no-repeat center center; background-position: center center;}
.foot-block-4 ul li.twit a:hover{opacity:0.8;}
.foot-block-4 ul li.insta a{background-position: -37px 0;}
.foot-block-4 ul li.pint a{background-position: -74px 0;}
.foot-block-4 ul li.y-tube a{background-position: -110px 0;}
.foot-block-4 ul li.fb:hover a{background-position: 0 -34px;}
.foot-block-4 ul li.insta:hover a{background-position: -37px -34px;}
.foot-block-4 ul li.pint:hover a{background-position: -74px -34px;}
.foot-block-4 ul li.y-tube:hover a{background-position: -110px -34px;}

.insta-feeds .jr-insta-thumb ul.thumbnails{margin-left: 0;}

.middle-container{float: left; width: 100%; padding: 2px 0 29px 0;}
.breadcrumb-container{float: left; width: 100%; margin-bottom: 8px;}
.breadcrumb-container ol{float: left; width: 100%; text-align: left;}
.breadcrumb-container ol li{float: none; width: auto; list-style: none; display: inline;}
.breadcrumb-container ol li:after{content: "/"; margin: 0 10px 0 11px;}
.breadcrumb-container ol li:last-child:after{content: "";}
.breadcrumb-container ol li{font-size: 14px; color: #666; line-height: 28px; text-transform: capitalize;}
.breadcrumb-container ol li a{color: #2f7292;}
.breadcrumb-container ol li a:hover{color: #666;}
.page-title-wrapper{float: left; width: 100%; margin-bottom: 25px;}
.page-title-wrapper h1{font-family: 'lucida_brightdemibold'; font-size: 34px; color: #000; text-transform: capitalize; text-align: left;float: left;}
.middle-container .content-div{float: left; width: 100%;}
.middle-container .content-div .login-div{float: left; width: 100%; text-align: center; max-width: 601px; background: #fff; padding: 46px 38px 36px 38px;}
.middle-container .content-div .login-div #loginform .input{width: 364px; height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; }
.middle-container .content-div .login-div #loginform .input:focus{border-color: #57b9e0;-webkit-box-shadow: 0px 0px 5px 0px rgba(89, 186, 224, 0.55);-moz-box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);
box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);}
.middle-container .content-div .login-div #loginform label{width: 160px; padding-right: 15px; line-height: 47px; font-size: 15px; color: #4c4c4c; text-align: left;}
.login-div #wppb-login-wrap p{overflow: visible; float: left; width: 100%; padding: 0; margin: 0 0 17px 0;}
.login-div .login-remember{display: none;}
.login-div #loginform p{float: left; width: 100%;}
.login-div #loginform p.login-submit{float: left; width: 100%; margin-top: 20px;}
.login-div #loginform p.login-submit .button:hover{background: #222222;}
.login-div #loginform p.login-submit .button{width: 294px; height: 47px; background: #3399cc; border: 0; box-shadow: none; border-radius: 0; color: #fff; text-transform: uppercase; font-size: 18px; font-weight: 700; font-family: 'Open Sans', sans-serif;}
.login-div .secondary{float: left; width: 100%; margin-top: 10px;}
.login-div .secondary a{font-size: 15px; color: #3399cc; line-height: 28px;}
.login-div .secondary a:hover{color: #222;}


.middle-container .content-div .forgot-div{float: left; width: 100%; text-align: center; max-width: 601px; background: #fff; padding: 46px 38px 36px 38px;}
.middle-container .content-div .forgot-div .text-input{width: 364px; height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; }
.middle-container .content-div .forgot-div .text-input:focus{border-color: #57b9e0;-webkit-box-shadow: 0px 0px 5px 0px rgba(89, 186, 224, 0.55);-moz-box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);
box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);}
.middle-container .content-div .forgot-div label{width: 160px; padding-right: 15px; line-height: 47px; font-size: 15px; color: #4c4c4c; text-align: left;}
.forgot-div p{float: left; width: 100%; font-size: 15px; text-align: left; line-height: 25px; margin-bottom: 25px;}
.forgot-div p.form-submit{float: left; width: 100%; margin-top: 20px; margin-bottom: 0}
.forgot-div p.form-submit .button:hover{background: #222222;}
.forgot-div p.form-submit .button{width: 294px; height: 47px; background: #3399cc; border: 0; box-shadow: none; border-radius: 0; color: #fff; text-transform: uppercase; font-size: 18px; font-weight: 700; font-family: 'Open Sans', sans-serif;}


.registration-div #wppb_register_pre_form_message{display: none;}
.registration-div .wppb-user-forms ul{float: left; width: 100%; max-width: 100%;}
.registration-div .wppb-user-forms ul li{float: left; width: 524px; padding-bottom: 17px; }
.registration-div ul li.wppb-recaptcha{text-align: left;}
.registration-div ul li.wppb-checkbox-terms-and-conditions label{width: 100%;}
.registration-div ul li.wppb-checkbox-terms-and-conditions{clear: both; margin-top: 17px;}
.registration-div ul li.wppb-checkbox-terms-and-conditions input{float: left !important;}
.registration-div ul li.wppb-checkbox-terms-and-conditions span{float: left; line-height: 10px; font-size: 15px; color: #4c4c4c;}
.registration-div ul li.wppb-checkbox-terms-and-conditions span.wppb-required{margin-left: 0}
.registration-div ul li.wppb-checkbox-terms-and-conditions span a{color: #3399cc;}
.registration-div ul li.wppb-checkbox-terms-and-conditions span a:hover{color: #4c4c4c;}
.registration-div ul li.wppb-recaptcha label,.registration-div ul li.wppb-checkbox-terms-and-conditions .agree_to_terms{display: none;}
.registration-div ul li.wppb-default-username{display: none;}
.registration-div #wppb-register-user-agent-registration-form ul li#wppb-form-element-20{clear: both; float: left;}
.registration-div ul li:nth-child(even){float: right;}
.middle-container .content-div .registration-div{float: left; width: 100%; text-align: center; max-width: 100%; background: #fff; padding: 46px 38px 23px 38px;}
.registration-div input.text-input,.registration-div input.extra_field_input{width: 359px!important; height: 47px; border: 1px solid #dedede !important; border-radius: 0!important; padding: 0 15px!important; text-align: left; font-family: 'Open Sans', sans-serif; float: none !important; display: inline-block; vertical-align: middle !important;}
.registration-div input.text-input:focus,.registration-div input.extra_field_input:focus{border-color: #57b9e0!important;-webkit-box-shadow: 0px 0px 5px 0px rgba(89, 186, 224, 0.55);-moz-box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);}
.registration-div label .wppb-required {color: #4c4c4c; margin-left: 0;}
.registration-div .wppb-form-field label{width: 160px; padding-right: 15px; line-height: 22px; font-size: 15px; color: #4c4c4c; text-align: left;font-family: 'Open Sans', sans-serif; float: none; display: inline-block; vertical-align: middle;}
.registration-div .form-submit{text-align: right;}
.registration-div .form-submit .submit{width: 294px; height: 47px; padding: 0; border: 0; border-radius: 0; box-shadow: none; background: #3399cc; text-transform: uppercase; color: #fff; font-size: 18px; font-weight: 700; font-family: 'Open Sans', sans-serif;}
.registration-div .form-submit .submit:hover{background: #222;}

.registration-div .wppb-user-forms ul li.form-submit{float: right;}
.registration-div .wppb-recaptcha-element{float: left;}

.registration-div .wppb-register-user .wppb-recaptcha.wppb-field-error{background:transparent; border:0;}
.registration-div .wppb-register-user .wppb-recaptcha.wppb-field-error.wppb-form-field > span.wppb-form-error {padding-top: 0px;border-top: 0px dotted #c89797; color: red; font-size: 14px; margin-top: 7px; margin-bottom: 0; text-align: right;}


.blog-single-container{float: left; width: 100%;}
.blog-single-container .col-2-outer{float: left; width: 100%}
.blog-single-container .post-grp{float: left; width: 100%; margin-bottom: 30px;}
.blog-single-container .post-content{float: left; width: 100%; background: #fff; padding: 38px 80px 48px 80px; text-align: left;}
.blog-single-container .post-content h2{width: 100%;float: left;text-align: left;font-family: 'lucida_brightdemibold';font-size: 34px;margin: 0 0 21px 0;line-height: 34px;}
.blog-single-container .post-det-img{float: left; width: 100%; margin-bottom: 26px; text-align: center;}
.blog-single-container .post-content p {width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left; margin-bottom: 29px;}
.post-content .post-det{float: left; width: 100%;margin:0 0 22px 0;}
.post-content .post-date{float: left; width: auto; font-size: 14px; color: #4c4c4c;} 
.post-content .post-date:before{content: "|"; margin: 0 15px 0 14px; display: inline-block;}
.post-content .postby{width:auto; float:left; text-align:left; font-size:14px; color:#4c4c4c; margin:0;}
.post-content h3{width: 100%;float: left;text-align: left;font-family: 'lucida_brightdemibold';font-size: 24px;margin: 0 0 21px 0;line-height: 34px; line-height: 29px;}
.post-content h4 {width: 100%;float: left;text-align: left;	font-size: 18px;margin: 0 0 15px 0;line-height: 27px;color: #4c4c4c;font-family: 'Roboto', sans-serif; font-weight: 600; font-style: italic;}
.case-img{float: left; width: 100%; text-align: center; margin-top: 15px;}
.post-content .arrow-ul{float: left; width: 100%; margin-bottom: 24px;}
.post-content .arrow-ul li{float: left; width: 100%; background: url(../images/post-arrow.png) no-repeat left 10px;width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left; padding-left: 18px; margin-bottom: 7px;}


.post-content .arrow-ol{float: left; width: 100%; margin-bottom: 24px; padding-left: 20px;}
.post-content .arrow-ol li{float: left; width: 100%; width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left; margin-bottom: 7px; }




.blog-post-btm{width:100%; float:right; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.user-img{width:116px; display:inline-block; vertical-align:middle;}
.user-img img{border-radius:50%;}
.user-outer{width:auto; float:left;}
.user-detail{float:none; display:inline-block; vertical-align:middle; margin:0 0 0 30px;}
.user-detail h5{float:left; font-size:28px; text-transform:uppercase; color:#387ba9;}
.user-connect{width:auto; float:left; clear:left; margin:18px 0 0 0;}
.user-connect li{width:auto; display:inline-block; vertical-align:middle; font-weight:600; padding:0 13px 0 21px; background:url(../images/serp.png) no-repeat center left;}
.user-connect li:first-child{padding-left:0; background:none;}
.user-connect li:first-child:last-child{padding-right:0;}
.user-connect li a{color:#000;}
.user-connect li a:hover{color:#387ba9;}
.user-connect li a:hover img{opacity:0.7;}
.user-connect li a img{float:left; width: 21px;}
.blog-user{width:100%; float:left; padding:3px 20px 43px; border-bottom:1px solid #d0d0d0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.related-articles{width:100%; float:left; text-align:left; padding:40px 20px; margin:4px 0 0 0; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.related-articles h3{width:100%; float:left; font-size:22px; margin:0 0 23px 0;}
.related-articles ul{width:100%; float:left;}
.related-articles ul li {width: 100%;float: left;padding: 0 0 0 18px;font-size: 17px;line-height: 23px;	margin: 0 0 9px 0;background: url(../images/related-bg.png) no-repeat 2px 8px;-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;box-sizing: border-box;}
.related-articles ul li:last-child{margin:0;}
.related-articles ul li a{color:#387ba9;}
.related-articles ul li a:hover{color:#000;}
.prev-next{width:100%; float:left; margin-top: 4px; padding:35px 0px; border-top:1px solid #d0d0d0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.prev-next-btn{width:100%; float:left;}
.prev-next-btn li{display:inline-block; vertical-align:middle; float:none; padding:0 53px; background:url(../images/sep-big.png) no-repeat left center;}
.prev-next-btn li:first-child{padding-left:0; background:none; float: left;}
.prev-next-btn li:last-child{padding-right:0; float: right;}
.prev-next-btn li a{display:block;}
.prev-next-btn li div{float:none; display:inline-block; vertical-align:middle; width:41px; height:41px;}
.prev-next-btn li p {float: none;display: inline-block;vertical-align: middle;font-size: 14px;text-transform: uppercase;font-weight: 700;color: #7a7a7a;}
.prev-btn{color:#747474; margin:0 10px 0 0; display:inline-block; vertical-align:middle; background:#e9e9e9 url(../images/page-prev.png) no-repeat center; border-radius:50%;  color:#747474; border:1px solid #bdbdbd; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.prev-next-btn li a:hover .prev-btn{background:#387ba9 url(../images/page-prev-hov.png) no-repeat center center; border:1px solid #387ba9;}
.next-btn{color:#747474; margin:0 0 0 10px; display:inline-block; vertical-align:middle; background:#e9e9e9 url(../images/page-next.png) no-repeat center; border-radius:50%;  color:#747474; border:1px solid #bdbdbd; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.prev-next-btn li a:hover .next-btn{background:#387ba9 url(../images/page-next-hov.png) no-repeat center center; border:1px solid #387ba9;}



.comment-area{width:100%; float:left; padding:30px; background:#fafafa; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.comment-area h3{width:100%; float:left; font-size:25px;margin:0 0 20px 0; text-align:left;}
.comment-form{width:100%; float:left;}
.comment-area .form-lft{width:48.02%; float:left;}
.comment-area .form-row{width:100%; float:left; margin:0 0 30px 0;}
.comment-area .form-row:last-child{margin:0;}
.comment-area .form-row label{width:100%; float:left; text-align:left; font-size:15px; color:#4b4b4b; margin:0 0 11px 0;}
.comment-area .form-lft input{width:100%; height:47px; border:1px solid #dedede; padding:0 15px; font-size:15px; font-family: 'Open Sans', sans-serif; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background: #fff;}
.comment-area .form-rgt textarea:focus,.comment-area .form-lft input:focus{border-color: #57b9e0;-webkit-box-shadow: 0px 0px 5px 0px rgba(89, 186, 224, 0.55);-moz-box-shadow:    0px 0px 5px 0px rgba(89, 186, 224, 0.55);box-shadow:         0px 0px 5px 0px rgba(89, 186, 224, 0.55);}
.comment-area .form-rgt{width:48.02%; float:right;}
.comment-area .form-rgt textarea{background: #fff;width:100%; height:150px; border:1px solid #dedede; padding:15px; max-width:100%; font-size:15px; font-family: 'Open Sans', sans-serif; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.comment-area .html-tag{width:100%; float:left; text-align:left; margin:34px 0 0 0;}
.comment-area .html-tag h6{width:100%; float:left; font-size:15px; font-weight:700; color:rgba(0, 0, 0, 0.5);}
.comment-area .html-code{width:100%; float:left; font-size:14px; color:rgba(0, 0, 0, 0.5); line-height:17px; margin:13px 0 0 0;}
.comment-area .form-row input[type="submit"] {width: 294px;height: 47px;display: inline-block;font-family: 'Open Sans', sans-serif;margin: 32px 0 5px;font-size: 18px;font-weight: 700;color: #fff;
border: none;background: #3399cc;text-transform: uppercase;}
.comment-area .form-row input[type="submit"]:hover{background:#222222;}


.comment-notes{float: left;width: 100%; text-align:left; margin-bottom: 15px;display: none;}
.comment-area .media-list{width: 100%;}
.comment-area ul{float: left;width: auto; padding: 0px;}
.comment-area ul li{float: left; display: inline-block; background: none;padding: 0 0 20px 0px; margin: 0px; width: 100%;}
.comment-area .commnt-img { float: left;  width: 10%;}
.comment-area .commnt-img img { border-radius: 50%; height: auto;}
.comment-area .commnt-body{ float: right;  width: 89%;}
.comment-area .posted-time { float: right; color: #8c8c8c; font-size:12px;  line-height: 12px;}
.comment-area .commnt-author-name {float:left; width:auto; color: #000; font-size: 14px; font-weight: normal; line-height: 14px; }
.comment-area .commnt-author-name span{color: #3399cc; float: left; font-size: 100%; font-weight: 700;  text-align: left; width: auto;}
.comment-area .comment-edit-link, .comment-reply-title small a{ color: #3399cc; text-decoration:none; font-size: 14px; font-weight: normal; line-height: 14px;}
.comment-area .comment-edit-link:hover, .comment-reply-title small a:hover{text-decoration: none; color: #000;}
.comment-area .comment-reply-link{float:left; color: #3399cc; text-decoration:none; font-size: 14px; font-weight: normal; line-height: 14px;}
.comment-area .commnt-author-name a:hover,.comment-area .comment-reply-link:hover{text-decoration: none; color: #000;}
.comment-reply-login{color: #3399cc;  font-size: 14px; font-weight: normal; line-height: 14px; float: left; width: 100%}
.comment-reply-login:hover{color: #000;}
.comment-area .commnt-body p{ font-size:/*15px*/ 93.75%; line-height:22px; color:#383838; float:left; width:100%; font-weight:300; text-align:left; padding-bottom:10px;}
.comment-area .media-list .children { list-style: outside none none; padding-top: 0px; padding-left: 3%; width: 97%;}
.comment-area div.error{color: #ff0000; float: left; margin-top: 3px; font-size: 13px;}
.commt-aftr-login .form-rgt{float: left;}
.logged-in-as { float: left; padding-bottom: 15px;  width: 100%;text-align: left;}
.logged-in-as a, .must-log-in a{color:#387ba9;}
.logged-in-as a:hover, .must-log-in a:hover{color: #000;}


.html-tag{width:100%; float:left; text-align:left; margin:34px 0 0 0;}
.html-tag h6{width:100%; float:left; font-size:15px; font-weight:700; color:rgba(0, 0, 0, 0.5);}
.html-code{width:100%; float:left; font-size:14px; color:rgba(0, 0, 0, 0.5); line-height:17px; margin:13px 0 0 0;}
.form-allowed-tags{width:100%; float:left; text-align:left; margin:34px 0 0 0; display: none;}
.form-allowed-tags h6{width:100%; float:left; font-size:15px; font-weight:700; color:rgba(0, 0, 0, 0.5);}
.form-allowed-tags .html-code{width:100%; float:left; font-size:14px; color:rgba(0, 0, 0, 0.5); line-height:17px; margin:13px 0 0 0;}



.bio-container{float: left; width: 100%;}
.bio-container .col-lft{font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left;}
.bio-container .col-lft p{float: left; width: 100%;width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left; margin-bottom: 29px;}


.registration-div #wppb-edit-user-agent-profile ul li.wppb-avatar,.registration-div #wppb-edit-user-author-profile.wppb-user-forms ul li.wppb-avatar{text-align: left;}
.registration-div #wppb-edit-user-agent-profile.wppb-user-forms ul li.wppb-avatar .upload-field-details,.registration-div #wppb-edit-user-author-profile.wppb-user-forms ul li.wppb-avatar .upload-field-details{margin-left: 4px;}
.registration-div #wppb-edit-user-agent-profile.wppb-user-forms ul li.wppb-avatar .file-name,.registration-div #wppb-edit-user-author-profile.wppb-user-forms ul li.wppb-avatar .file-name{display: none;}
.registration-div #wppb-edit-user-agent-profile.wppb-user-forms ul li.wppb-avatar .file-type,.registration-div #wppb-edit-user-author-profile.wppb-user-forms ul li.wppb-avatar .file-type{display: none;}
.registration-div #wppb-edit-user-agent-profile.wppb-user-forms ul li.wppb-avatar .upload-field-details > *,.registration-div #wppb-edit-user-author-profile.wppb-user-forms ul li.wppb-avatar .upload-field-details > *{float: none; display: inline-block; vertical-align: middle; width: auto;}
.registration-div #wppb-edit-user-author-profile.wppb-user-forms ul li.form-submit{width: 100%; margin-top: 20px; text-align: center;}
.registration-div .wppb-user-forms ul:nth-child(2){display: none;}

.registration-div .wppb-register-user .wppb-recaptcha{text-align: right;}
.registration-div .wppb-recaptcha-element {float: none;}





.pitch-post-div{float: left; width: 100%}
.pitch-post-div .postbox{float: left; width: 672px; background: #fff; padding:46px 40px 40px 37px;}
.pitch-post-div .postbox .control{width: 364px; float: left;}
.pitch-post-div .postbox .control small,.edit-postbox form .field .control small{margin-top: 7px; float: left; width: 100%; font-size: 10px; text-align: left;line-height: 15px;}
.pitch-post-div .postbox input{width: 100%; height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; font-family: 'Open Sans', sans-serif; float: left;}
.pitch-post-div .postbox textarea:focus,.pitch-post-div .postbox select:focus,.pitch-post-div .postbox input:focus{border-color: #57b9e0;-webkit-box-shadow: 0px 0px 5px 0px rgba(89, 186, 224, 0.55);-moz-box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);}
.pitch-post-div .postbox select{-webkit-appearance: none; -moz-appearance:none; -o-appearance:none; appearance:none;background: url(../images/select-arrow.png) no-repeat 97% center; padding-right: 33px;width: 100%;  height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; font-family: 'Open Sans', sans-serif; float:left;}

.pitch-post-div .postbox select.gener-select,.edit-postbox form .field select.gener-select{background-image:none; height: 157px;}
.pitch-post-div .postbox textarea{width: 100%; height: 217px; border: 1px solid #dedede; border-radius: 0; padding: 15px; text-align: left; font-family: 'Open Sans', sans-serif; float: left;}
.pitch-post-div .postbox label{width: 223px; padding-right: 8px; line-height: 22px; font-size: 15px; color: #4c4c4c; text-align: left;font-family: 'Open Sans', sans-serif; float:left; padding-top: 13px;}
.pitch-post-div .postbox input.word-count{margin-top: 5px;background: #dedede; border: 0; width: 50%;}
.pitch-post-div .postbox input.word-count:focus{box-shadow: none; border: 0}
.pitch-post-div .postbox .field{margin-bottom: 18px; float: left; width: 100%;}
.pitch-post-div .postbox .form-submit{float: left; width: 100%; text-align: left; margin-top: 2px; padding-left: 231px;}

.pitch-post-div .postbox select::-ms-expand {display: none;}
.pitch-post-div .postbox .form-submit input[type="submit"]{width: 294px; height: 47px; padding: 0; border: 0; border-radius: 0; box-shadow: none; background: #3399cc; text-transform: uppercase; color: #fff; font-size: 18px; font-weight: 700; font-family: 'Open Sans', sans-serif; text-align: center; display: inline-block;}
.pitch-post-div .postbox .form-submit input[type="submit"]:hover{background: #222;}



.edit-postbox-area{float: right; width: 488px; border: 1px solid #d1d1d1; text-align: left; padding: 36px 29px 37px 38px;}
.edit-postbox-area h2{font-size: 26px; color: #000;font-family: 'lucida_brightdemibold'; text-transform: capitalize; margin-bottom: 30px;}
.edit-postbox-area .edit-pitch-post{float: left; width: 100%; height: 653px; overflow-x: hidden;}
.edit-postbox-area .edit-pitch-post textarea{width: 100%;}
.pitch-post-div .postbox .field .error{float: left; width: 100%; color: red; text-align: left; margin-top: 5px; font-size: 14px;}
.edit-postbox.active form{display: block;}
.edit-postbox form{display: none;}
.edit-postbox.active h3 .title:before{content: "-";font-weight: 700;font-family: 'Open Sans', sans-serif; font-size: 19px; color: #000; line-height: 16px; float: left;}
.edit-postbox h3 .title:before{content: "+";font-weight: 700;font-family: 'Open Sans', sans-serif; font-size: 19px; color: #000; line-height: 20px; float: left; margin-right: 14px;}

.edit-postbox h3{font-weight: 700;font-family: 'Open Sans', sans-serif; font-size: 15px; color: #000; line-height: 28px; text-transform: capitalize; padding-right: 24px; cursor: pointer;}
.edit-postbox h3 span.edit{float: right; color: #3399cc; font-weight: 400; background: url(../images/edit-icn.png) no-repeat left center; padding-left: 19px; position: absolute; right: 0; top: 0;}
.edit-postbox h3 span.title{float: left; width: 92%; position: relative; line-height: 20px;}
.edit-postbox h3 span.title span.name{padding-right: 0; float: left; width: 80%;}
.edit-postbox h3 span.delete{float: right; width: 4%; line-height: 20px;}
.edit-postbox form{padding: 0 24px 0 21px; clear: both;}
.edit-postbox form .field{float: left; width: 100%;}
.edit-postbox form .field label{float: left; width: 100%; font-size: 15px; color: #4c4c4c; margin-bottom: 12px; margin-top: 13px;}
.edit-postbox form .field textarea,.edit-postbox form .field select,.edit-postbox form .field input{ float: left; width: 100%; height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; font-family: 'Open Sans', sans-serif; float: left; background-color: #fff;}
.edit-postbox form .field select,.edit-postbox form .field input{float: left; width: 100%;}
.edit-postbox form .field textarea:focus,.edit-postbox form .field select:focus,.edit-postbox form .field input:focus{border-color: #57b9e0;-webkit-box-shadow: 0px 0px 5px 0px rgba(89, 186, 224, 0.55);-moz-box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);}
.edit-postbox form .field select{-webkit-appearance: none; -moz-appearance:none; -o-appearance:none; appearance:none;background: #fff url(../images/select-arrow.png) no-repeat 97% center; padding-right: 33px;width: 100%;  height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; font-family: 'Open Sans', sans-serif; float:left;}
.edit-postbox form .field textarea{padding: 15px; height: 137px; resize: vertical;}
.edit-postbox form .field .word-count{margin-top: 5px;background: #dedede; border: 0; width: 100%;}
.edit-postbox form .field .word-count:focus{box-shadow: none; border: 0}
.edit-postbox form .form-submit{float: left; width: 100%; text-align: right; margin-top: 6px;}
.edit-postbox form .form-submit input[type="submit"]{width: 95px; height: 34px; padding: 0; border: 0; border-radius: 0; box-shadow: none; background: #3399cc; text-transform: uppercase; color: #fff; font-size: 14px; font-weight: 700; font-family: 'Open Sans', sans-serif; text-align: center; display: inline-block;}
.edit-postbox form .form-submit input[type="submit"]:hover{background: #222;}
.edit-postbox{float: left; width: 100%; margin-bottom: 10px}
.edit-postbox:last-child{margin-bottom: 0}


.pitch-post-list{float: left; width: 874px}
.pitch-authors-container{float: right; width: 286px;}
.pitch-author-slider{float: left; width:100%;}
.pitch-agent-slider{float: left; width: 100%;}

.pitch-authors-container ul{position: relative; padding: 0 35px; margin-top: 23px;}
.pitch-authors-container ul.owl-carousel .owl-item img{width: auto; max-width: 100%; display: inline-block;}
.pitch-authors-container ul .owl-nav div{height: 17px; width: 11px; display: inline-block; opacity:0.3; text-indent: -99999px; background-position: center center; background-repeat: no-repeat;}
.pitch-authors-container ul .owl-nav div.owl-prev{background-image: url(../images/auth-prev-icn.png); margin-right: 0; position: absolute; left: 14px; top: 50%; margin-top: -8px;}
.pitch-authors-container ul .owl-nav div.owl-next{background-image: url(../images/auth-next-icn.png);position: absolute; right: 14px; top: 50%; margin-top: -8px;}
.pitch-authors-container ul .owl-nav div.owl-prev:hover,.pitch-authors-container ul .owl-nav div.owl-next:hover{opacity:1;}


.pitch-authors-container ul li{text-align: center; float: left; width: 100%;}
.pitch-authors-container ul li .auth-img{display: table; table-layout: fixed; vertical-align: middle; width: 100%; margin-bottom: 6px;}
.pitch-authors-container ul li .auth-img span{display: table-cell; height: 124px; width: 100%; vertical-align: middle; text-align: center;}
.pitch-authors-container ul li .auth-img span img{display: inline-block; vertical-align: middle; width: auto; height: auto; max-height: 100%;}
.pitch-authors-container ul li .name{float: left; width: 100%; font-size: 14px; color: #000; line-height: 19px; text-transform: capitalize;}


.pitch-post-list .blog-block{float: left; width: 100%; text-align: left; margin-bottom: 40px;}
.pitch-post-list .blog-block .blog-listing{float: left; width: 100%;}
.pitch-post-list .blog-listing .post-left-area{float: left; width: 75px;border-bottom: 2px solid #bfbfbf;}
.pitch-post-list .blog-listing .post-left-area .date-area{float: left; width: 100%; text-align: center; text-transform: uppercase; color: #fff; background: #3399cc; margin-bottom: 1px; padding: 9px 0 17px 0;}
.pitch-post-list .blog-listing .post-left-area .date-area .month{display: block; font-size: 18px; font-weight: 600;}
.pitch-post-list .blog-listing .post-left-area .date-area .date{font-weight: 600; font-size: 26px; line-height: 40px;}
.pitch-post-list .blog-listing .post-rgt-area{float: right; width: 795px; background: #fff;}
.pitch-post-list .blog-listing .post-rgt-area h2{font-size: 28px;font-family: 'lucida_brightdemibold'; color: #000; line-height: 32px; margin-bottom: 17px;}
.pitch-post-list .blog-listing .post-rgt-area .post-top{padding: 34px 40px 40px 40px;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area{background: #fafafa; display: none;}
.pitch-post-list .blog-listing .post-rgt-area .post-info-area,.pitch-post-list .blog-listing .post-rgt-area .post-content{float: left; width: 100%;font-size: 15px; color: #4c4c4c; line-height: 28px;}
.pitch-post-list .blog-listing .post-rgt-area .post-info-area p,.pitch-post-list .blog-listing .post-rgt-area .post-content p{margin-bottom: 11px;}
.pitch-post-list .blog-listing .post-rgt-area .post-cmment-count{width: 136px; border-radius: 20px; background: #3399cc; color: #fff; font-size: 14px; font-weight: 400; line-height: 40px; display: inline-block; text-align: center; margin-top: 20px; cursor: pointer;}
.pitch-post-list .blog-listing .post-rgt-area .post-cmment-count span{font-weight: 700;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area {padding: 32px 40px 40px 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area h3{color: #000; font-size: 19px; font-weight: 700;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area .form-row{margin-bottom: 18px; text-align: center;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area .form-rgt textarea {height: 229px;}

.pitch-post-list .blog-listing .post-rgt-area .comment-area .media-list{float: left; width: 100%; margin-top: 20px;}
.pitch-post-list .blog-listing .post-rgt-area .comment-area .form-row input[type="submit"]{margin-top: 4px;}

.common-div{float: left; width: 100%; text-align: left;}

.faq-div{float: left; width: 100%; text-align: left; padding-bottom: 30px;}
.faq-div #accordion .ui-icon-triangle-1-s {background-position: -17px -191px; margin-right: 5px;}
.faq-div #accordion .ui-icon-triangle-1-e {background-position: -2px -191px; margin-right: 5px;}
.faq-div #accordion .ui-state-active{background: #1a4d66; border-color: #1a4d66;}
.faq-div #accordion.ui-accordion{font-family: 'Open Sans', sans-serif;}
.faq-div #accordion.ui-accordion .ui-accordion-content{font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left;}
.faq-div #accordion.ui-accordion .ui-accordion-content p{margin-bottom: 15px;}
.faq-div #accordion.ui-accordion .ui-accordion-content p:last-child{margin-bottom: 0}


.rules-div{float: left; width: 100%}
.rules-div p{font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left; margin-bottom: 28px;}
.rules-div ul,.rules-div ol{padding-left: 17px;}
.rules-div ul li,.rules-div ol li{font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left; margin-bottom: 10px;}
.rules-div ul li strong,.rules-div ul li b,.rules-div ol li strong,.rules-div ol li b{font-weight: 700;}
.rules-div ol li{ list-style: decimal;}
.rules-div ul li{ list-style: disc;}


.contact-form{float: left; width: 100%; background:#fff; padding: 50px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.3);}
.contact-form .form-lft{float: left; width: 49%}
.contact-form .wpcf7-form-control{width: 100%;}
.contact-form .form-rgt{float: right; width: 49%}
.contact-form label{float: left; width: 100%; font-size: 15px; color: #4c4c4c; margin-bottom: 12px; margin-top: 13px;}
.contact-form label span{color: red;}
.contact-form .field{float: left; width: 100%; margin-bottom: 18px;}
.contact-form textarea,.contact-form input{ float: left; width: 100%; height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; font-family: 'Open Sans', sans-serif; float: left; background-color: #fff; font-size: 15px; font-style: italic;}
.contact-form textarea{padding: 15px; height: 177px; resize: vertical;}
.contact-form .form-submit{float: left; width: 100%; text-align: center; margin-top: 25px;}
.contact-form .form-submit input[type="submit"]{width: 294px; height: 47px; padding: 0; border: 0; border-radius: 0; box-shadow: none; background: #3399cc; text-transform: uppercase; color: #fff; font-size: 18px; font-weight: 700; font-family: 'Open Sans', sans-serif; text-align: center; display: inline-block; float: none; font-style: normal;}
.contact-form .form-submit input[type="submit"]:hover{background: #222;}
.contact-form .field .control{width: 90%; float: left;}
.contact-form .field.name span.icon{background: #3399cc url(../images/white-man-user.png) no-repeat center center; width: 10%; height: 47px; display: inline-block; background-size: 35px 35px; float: left;}
.contact-form .field.email span.icon{background: #3399cc url(../images/white-mail-icon.png) no-repeat center center; width: 10%; height: 47px; display: inline-block; background-size: 35px 35px; float: left;}
.contact-form .field.subject span.icon{background: #3399cc url(../images/white-subject-icon.png) no-repeat center center; width: 10%; height: 47px; display: inline-block; background-size: 35px 35px; float: left;}
.contact-form .field.message span.icon{background: #3399cc url(../images/white-comment-icon.png) no-repeat center center; width: 10%; height: 47px; display: inline-block; background-size: 35px 35px; float: left;}

.contact-form div.wpcf7-validation-errors,.contact-form div.wpcf7-acceptance-missing, .wpcf7-response-output{display: none !important;}
.contact-form span.wpcf7-not-valid-tip {font-size: 14px;margin-top: 7px;float: left;width: 100%;}

.common-div.search-result .common-div.search-result-list{float: left; width: 100%; margin-bottom: 25px; background-color: #fff; padding: 45px;}
.common-div.search-result .common-div.search-result-list h2{width: 100%;float: left;text-align: left;font-family: 'lucida_brightdemibold';font-size: 24px;margin: 0 0 10px 0;
line-height: 29px;}
.common-div.search-result .common-div.search-result-list h2 a{color: #000}
.common-div.search-result .common-div.search-result-list h2 a:hover {color: #3399cc;}
.common-div.search-result .common-div.search-result-list p {width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left;margin: 0 0 0 0;}

.error404 .common-div p{width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left;margin: 0 0 0 0;}
.common-div .thank-div p{width: 100%;float: left;font-size: 16px;line-height: 28px;color: #4c4c4c;text-align: left;margin: 0 0 0 0;}


.copyright-div {float: left;width: 100%;text-align: center;border-top: 1px solid #8da6b3;padding-top: 15px;padding-bottom: 0;margin-top: 30px; display: none;}
.copyright-div .copyright{color: #5f8394; font-size: 12px; line-height: 24px; float: left; width: 100%;}
.copyright-div .copyright a{color: #5f8394;}
.copyright-div .copyright a:hover{color: #f4f4f4;}



.media-modal .media-modal-close .screen-reader-text{display: none;}


.pitch-message {padding: 6px 9px;margin: 0 auto 25px;display: block;width: 100%;box-sizing: border-box;background: #e7f7d3;border: 1px solid #6c3; float: left; width: 100%;}



.registration-div .wppb-register-user .wppb-field-error, .registration-div .wppb-edit-user .wppb-field-error, .registration-div #wppb-recover-password .wppb-field-error {background-color: transparent;border: 0;
	margin-bottom: 0 !important;padding: 0 0 17px 0 !important;}

.registration-div .wppb-form-field.wppb-default-password > span.wppb-form-error {border-top: 0;font-size: 100%;margin-left: 0;color: red;font-size: 14px; line-height: 15px;}
.registration-div .wppb-form-field.wppb-default-password > span.wppb-form-error br{display: none;}
.registration-div .wppb-form-field > span.wppb-description-delimiter{margin-top: 5px;}

.registration-div .wppb-register-user .wppb-form-field > span.wppb-form-error{color: red; line-height: 15px; font-size: 14px; text-align: left; border-top: 0; margin-top: 7px; padding-top: 0; margin-bottom: 0; margin-left: 168px;}


.forgot-div div.error{color: red; line-height: 15px; font-size: 14px; text-align: left; border-top: 0; margin-top: 7px; padding-top: 0; margin-bottom: 0; margin-left: 160px; float: left;}



.ft-subscribe-form .widget_wysija_cont .error{float: left; width: 100%;}
.ft-subscribe-form .widget_wysija_cont .allmsgs div{float: left; width: 100%;}


#book-filter{float: left; width: 100%; margin-bottom: 20px; text-align: center;}
#book-filter select{-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance: none;background: #fff url(../images/select-arrow.png) no-repeat 97% center;
padding-right: 33px;width: 100%;height: 47px;border: 1px solid #dedede;border-radius: 0;padding: 0 15px;text-align: left;font-family: 'Open Sans', sans-serif;float: none; width: 200px; margin-right: 10px; display: inline-block;}
#book-filter input {width: 100%;height: 47px;border: 1px solid #dedede;border-radius: 0;padding: 0 15px;text-align: left;font-family: 'Open Sans', sans-serif;float: none; width: 200px; display: inline-block; margin-right: 10px;}
#book-filter input[type="submit"]{height: 47px;padding: 0;border: 0;border-radius: 0;box-shadow: none;background: rgba(9,77,110,1);text-transform: uppercase;color: #fff;font-size: 18px;
font-weight: 700;font-family: 'Open Sans', sans-serif;text-align: center;display: inline-block; width: 200px; margin: 0}


#book-filter select:focus,#book-filter input:focus{border-color: #57b9e0;-webkit-box-shadow: 0px 0px 5px 0px rgba(89, 186, 224, 0.55);-moz-box-shadow:0px 0px 5px 0px rgba(89, 186, 224, 0.55);}
.pitch-post-div .postbox select{-webkit-appearance: none; -moz-appearance:none; -o-appearance:none; appearance:none;background: url(../images/select-arrow.png) no-repeat 97% center; padding-right: 33px;width: 100%;  height: 47px; border: 1px solid #dedede; border-radius: 0; padding: 0 15px; text-align: left; font-family: 'Open Sans', sans-serif; float:left;}
#book-filter input[type="submit"]:hover{background: #222;}


.blog-single-container .wp-block-image .aligncenter, .blog-single-container .wp-block-image .alignleft, .blog-single-container .wp-block-image .alignright, .blog-single-container  .wp-block-image.is-resized {	display: inline-block;	}
.home-content {	float: left;	width: 100%;}
.home-content-left {	float: left;	width: 50%;	padding-right: 20px;}
.home-content-rgt {	float: left;	width: 50%;	padding-left: 20px;}
.home-blog-sec {
	float: left;
	width: 100%;
}
.home-blog-sec .post-grp .post {
	width: 377px;
	
}
.home-blog-sec .post-grp .post {
	margin-left: 34px;
}
.home-blog-sec .post-grp .post:first-child {
	margin-left: 0;
}
.home-blog-sec .post-grp .post:nth-child(2n+1),.home-blog-sec .post-grp .post:nth-child(2n) {
	clear: none;
}
.home-blog-sec .post-con p {
	
	min-height: 115px;
	margin: 0;
}
.inner-blog-sec {
	float: left;
	width: 100%;
	padding: 40px 0 20px;
}
.pro-head {
	float: left;
	width: 100%;
	margin-bottom: 35px;
}
.pro-head {
	float: left;
	width: 100%;
	margin-bottom: 35px;
}
.pro-head h3 {
	float: left;
	width: auto;
	font-size: 30px;
	font-weight: 600;
	color: #1a4d66;
	font-family: 'lucida_brightdemibold';
	letter-spacing: 0.050em;
}
.view-url {
	float: right;
	width: auto;
	margin-top: 11px;
}
.view-url a {
	float: left;
	width: auto;
	color: #000;
	
	background: url(../images/auth-next-icn.png)no-repeat right 3px;
	padding-right: 13px;

	background-size: 7px;
	font-size: 15px;
}
.view-url a:hover{opacity:0.5}