
/** ------------------------------------------------------------------------------------------------
* WOOCOMMERCE CHECKOUT
* ------------------------------------------------------------------------------------------------ */

form.woocommerce-checkout {
	@include clear-element;
}

.woocommerce-checkout {

	.woocommerce-error {
		margin-top:20px;
		margin-left:15px;
		margin-right:15px;
		padding-left:6em;

		li {
			margin-bottom:15px;
			position:relative;

			&:last-child {
				margin-bottom:0;
			}

			&:before {
				content: "\f105";
				opacity: 0.7;
				font-family: 'FontAwesome';
				position: absolute;
				top: 0;
				left: -15px;
			}
		}
	}

	.woocommerce-info {
		margin-bottom: 25px;
		border:none;
		background-color: transparent;
		padding: 0;
		overflow: visible;
		color:#8C8C8C;

		a {
			color:#202020;
			text-decoration:none;
		}

		&:before {
			content:none;
		}

		.showcoupon,
		.showlogin {
			border-bottom: 1px solid #E6E6E6;
			display:inline;
			margin-left: 5px;
			line-height: 1.5;

			&:hover {
				border-color: #A6A6A6;
			}
		}
	}

	.checkout_coupon,
	.login.hidden-form {
		position: relative;
		background-color: #f8f8f8;

		&:before {
			content: "\f0d8";
			position: absolute;
			top: -4px;
			line-height: 0;
			left: 20px;
			color: #f8f8f8;
			font-size: 24px;
			font-family: "FontAwesome";
		}
	}


	.checkout_coupon {
		padding: 15px 20px;
		display:block;
		max-width: 400px;
		text-align:center;

		p {
			margin-bottom: 5px;
			margin-top: 5px;

			&.form-row-first,
			&.form-row-last {
				float:none;
				width:auto;
				display:inline-block;
			}
		}

		.input-text {
			box-shadow: none;
		}

		.button {
			@include btn-color-primary;
		}
	}

	.login.hidden-form {
		max-width: 500px;
		padding: 20px 25px 20px 25px;
		margin-bottom: 20px;

		.woocommerce-form__label {
		    margin-bottom: 0;
			margin-top: 20px;
		}
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields,
	.woocommerce-account-fields {
		margin-top: 40px;

		abbr {
			border: none;
			text-decoration: none;
		}

		> h3 {
			text-transform: uppercase;
			letter-spacing: 0.6px;
			font-weight:bold;
		}
	}

	.select2-drop-active {

		.select2-input {
			background-image: none !important; //remove double search icon on checkout page
		}
	}

	.create-account {

		input[type="checkbox"] {
			position: static;
			margin-left: 0;
		}

		span {
			vertical-align: middle;
		}
	}

	.woocommerce-shipping-fields {

		> h3 {

			label {
				display: inline-block;
				text-transform: uppercase;
				font-size: 22px;
				margin: 0;
			}

			.input-checkbox {
				position: static;
				margin-left: 0px;
			}
		}

		.notes {

			textarea {
				height: 110px;
			}
		}
	}

	.checkout-order-review {
		background-color:#f8f8f8;
		background-image:url(images/checkout-border.jpg);
		background-position: left top;
		background-repeat: no-repeat;
		padding: 40px 30px;
		margin-top: 8px;

		> h3 {
			text-transform: uppercase;
			letter-spacing: 0.6px;
			text-align: center;
			font-weight:bold;
		}

		.responsive-table {
			background-color: white;
			padding:20px 25px 0px 25px;
		}
	}

	.woocommerce-checkout-payment {
			
		// ul {
		// 	margin-bottom: 40px;
		// }

		li {
			margin-bottom: 15px;

			img {
				max-height: 40px;
				margin-left: 5px;
				margin-right: 5px;
			}

			label {
				margin-bottom: 0;
				display: inline-block;
			}
		}

		.woocommerce-form__input {
			position: relative;
 			margin-left: 0;
  			margin-right: 5px;
		}

		.payment_box,
		.woocommerce-terms-and-conditions {
			position: relative;
			margin-top: 15px;
			padding: 10px 15px;
			background-color: white;
			border: 2px solid rgba(115, 115, 115, 0.1);

			p {
				margin-bottom: 5px;
			}

			&:before {
				content: "\f0d8";
				position: absolute;
				top: -5px;
				line-height: 0;
				left: 25px;
				color:rgba(232, 232, 232, 1);;
				font-size: 22px;
				font-family: "FontAwesome";
			}
		}

		.woocommerce-terms-and-conditions {
			margin-bottom: 20px;

			&:before {
				display: none;
			}
		}

		.payment_method_paypal {

			img {
				margin-left: 10px;
			}

			a {
				@include border-link;
				margin-left: 15px;					
			}
		}

		#wc-stripe-cc-form {
			border: none;
    		padding: 0;
    		margin-bottom: 0;

    		label {
    			display: block;
    		}
		}

		.wc-saved-payment-methods {

			margin-bottom: 0px;

			li {

				&:last-child {
					margin-bottom: 5px;
				}
			}

			+ #wc-stripe-cc-form {
				margin-top: 15px;
			}
		}
	}

	.place-order {
		margin-top: 25px;

		button {
			width: 100%;
			padding: 15px 0;
			font-size: 16px;
    		letter-spacing: 1px;
			@include btn-color-primary;
		}
	}

	.woocommerce-privacy-policy-text,
	.woocommerce-terms-and-conditions-checkbox-text {

		a {
			font-weight: 600;			
		}
	}

	.woocommerce-privacy-policy-text {

		p {

			&:last-child {
				margin-bottom: 25px;
			}
		}	
	}

	form {

		&#order_review {

			#payment_method_stripe {
				margin-left: 0;
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 5px;
			}
		}
	}
}